@import 'http://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,greek-ext,cyrillic-ext,greek,vietnamese,cyrillic,latin-ext';
ul#css3menu1,ul#css3menu1 ul{
	margin:0;
	list-style:none;
	padding:0;
	background-color:none;
	border-width:0;
	border-style:solid;
	border-color:;}
ul#css3menu1 ul{
	visibility:hidden;
	position:absolute;
	left:100%;
	top:0;
	opacity:0;
	-moz-transition:all 0.5s;
	-webkit-transition:opacity 0.5s;
	-o-transition:opacity 0.5s,visibility 0.5s;
	transition:opacity 0.5s;
	/*color de capa de menu*/
	background-color:#FFFFFF;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:0 3px 3px;}
ul#css3menu1 li:hover>ul{
	visibility:visible;
	opacity:1;}
ul#css3menu1 li{
	position:relative;
	display:block;
	white-space:nowrap;
	font-size:0;}
ul#css3menu1 li:hover{
	z-index:1;
	}
ul#css3menu1 ul ul{
	position:absolute;
	left:100%;
	top:0;
	-moz-box-shadow:0px 0px 1px #63dbc3;
	-webkit-box-shadow:0px 0px 1px #63dbc3;
	box-shadow:0px 0px 1px #63dbc3;}
ul#css3menu1{
	font-size:0;
	z-index:999;
	position:relative;
	display:block;
	float:left;
	padding:0 5px 5px;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;}
ul#css3menu1>li{
	/*espacio en blanco*/
	margin:3px 0 0;
}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;
}
ul#css3menu1 a{
	display:block;
	vertical-align:middle;
	text-align:left;
	text-decoration:none;
	font:12px Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
	color:#FFFFFF;
	cursor:pointer;
	padding:7px 12px;
	background-color:;
	background-repeat:repeat;
	border-width:0px;
	border-style:none;
	border-color:;}
ul#css3menu1 ul li{
	float:none;
	margin:3px 0 0;}
ul#css3menu1 ul a{
	text-align:left;
	padding:7px;
	/*color del sub menu 2 y 3*/
	background-color:#367fa6;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	font:14px Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
	color:#FFFFFF;
	text-decoration:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	border-style:none;
	color:#FFFFFF;
	text-decoration:none;
	}
	
	
ul#css3menu1 img{
	border:none;
	vertical-align:middle;
	margin-right:7px;}
ul#css3menu1 span{
	display:block;
	overflow:visible;
	background-image:url("arrowsub.gif");
	background-position:right center;
	background-repeat:no-repeat;
	padding-right:20px;}
ul#css3menu1 ul span{
	background-image:url("arrowsub.gif");
	padding-right:12px;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li a.pressed{
	background-color:#49c9b0;
	color:#FFFFFF;
	text-decoration:none;}
ul#css3menu1 li.topmenu>a{
	/*color de fondo del menu 1*/
	background-color:#367fa6;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	width:100%}
ul#css3menu1 li.topmenu:hover>a,ul#css3menu1 li.topmenu a.pressed{
	background-color:#1ABC9C;}
	
#contenedor {
	/*ancho de caja del menu*/
  width:350px;
  margin:auto;
  /*grosor de linea de menu*/
  border-left:0px solid black;
  border-right:0px solid black;
    /*posicion del menu*/
   position: absolute;
  top:  170px; 
  left: 15px;
  }
 p {
	margin-top: 0;
}

	