.cabecera{
    margin-top: 17px;
}

.lista_menu a{
    font-size: 16px;
    color: black;
}

.nav>li>a:focus, .nav>li>a:hover {    
    text-decoration: underline;
    background-color: #eee;
    color: #e29400;
}

.border_right{
    border-right: 2px solid #d8d8d88f;
}

.list-group-item p{
    font-size: 12px !important;
}

.list-group-item h5{
    font-weight:bold
}

a.list-group-item:hover{
    color: #e73a37 !important;
    transition: 200ms linear;
    /* background-color: #e73a37; */
}
.navbar{
    margin-bottom: 0;
}

a.list-group-item .list-group-item-heading:hover{
    color: #e73a37 !important;
}

.menu_sub{
    padding: 12px 0;
    background: #333;
}

.list-group-item {
    background-color: #f8f8f8;
    border: 0;
}

.border_menu_bajo{
    border-bottom: 2px solid #cbcbcb;
}
.border_menu_bajo_roj{
    border-bottom: 3px solid #e73a37;
}

#DIV_CONTENIDO_CUERPO{
    padding-left: 10px;
}

.titulos_menu_interno{
    color: #e73a37;
    font-size: 23px;
    font-weight: bold;
}

.paddleft3{
    padding-left: 3%;
}
.paddleft6{
    padding-left: 6%;
}

dl dt h4{
    color: #337ab7;
}
.black h4{
    color: #333 !important;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #e73a37;
    border-color: #e73a37;
}
