
.pagination {
/*
    height: 36px;
    margin: 18px 10;*/
	/* margin: 18px 0; */
	font-size:12px; 
	font-family:Arial, Helvetica, sans-serif;

}
.pagination ul {

    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
	/*
    margin-bottom: 0;
    margin-left: 0;*/
}
.pagination li {
    display: inline;
}

.pagination a {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    float: left;
    line-height: 34px;
    padding: 0 14px;
    text-decoration: none;
}
.pagination a:hover, .pagination .active a {
    background-color: #F5F5F5;
}
.pagination .active a {
    color: #999999;
    cursor: default;
}
.pagination .disabled a, .pagination .disabled a:hover {
    background-color: transparent;
    color: #999999;
    cursor: default;
}
.pagination li:first-child a {
    border-left-width: 1px;
    border-radius: 3px 0 0 3px;
}
.pagination li:last-child a {
    border-radius: 0 3px 3px 0;
}
.pagination-centered {
    text-align: center;
}
.pagination-right {
    text-align: right;
}

/*

a {
    color: #2D2D28;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
	color:#2d2d28;
	outline:0;
	text-decoration:underline;
	font-weight: bold
}
*/
/*
.paginate {
    color: #2D2D28;
    font-weight: bold;
    text-decoration: none;
	cursor:pointer;
}

.paginate a:hover{
	color: #0066CC;
	outline:0;
	text-decoration:none;
	font-weight: bold
}
*/
