
/* The alert message box */
.alertin {
	padding: 20px !important;
	background-color: #f44336 !important; /* Red */
	color: white !important;
	margin-bottom: 15px !important;
  }
  
  /* The close button */
  .closebtn {
	margin-left: 15px !important;
	color: white !important;
	font-weight: bold !important;
	float: right !important;
	font-size: 22px !important;
	line-height: 20px !important;
	cursor: pointer !important;
	transition: 0.3s !important;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
	color: black;
  }