@charset "utf-8";
/* CSS Document */
/* 
* {
	margin: 0px; padding: 0px; box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
} */

.css_reloj { 
	padding: 10px; 
	width: 98% ;
	border: 1px solid black; 
    font: normal 1em digital_dream, europa, arial; 
	text-align: center; 
    margin: 4px; 
	background-color: #f0ffff; 
	border-radius: 3px;
}

div.ui-datepicker{ font-size:12px; }
div.ui-tabs{ font-size:12px; }
div.ui-dialog{ font-size:12px; }
.no-close .ui-dialog-titlebar-close {
  display: none;
}

.style_center {
	text-align:center;
}

#accordion h3{ 
  background:none;
  background-color:#01709A; 
  color:#FFF;  
  font-size:12px;     
}


.file-upload-button {
  background: #f4f4f4;
  color: #333;
  padding: 1px;
}

.table-container
{
	width: 100%;
	overflow-y: auto;
	_overflow: auto;
	margin: 0 0 1em;
}

.table-container::-webkit-scrollbar
{
	-webkit-appearance: none;
	width: 14px;
	height: 14px;
}

.table-container::-webkit-scrollbar-thumb
{
	border-radius: 8px;
	border: 3px solid #fff;
	background-color: rgba(0, 0, 0, .3);
}

.table-container1 {    width: 100%;
	overflow-y: auto;
	_overflow: auto;
	margin: 0 0 1em;
}




ul {
	list-style: none;
}

/* 

body{
	height: 100%; 
	color: black; 
	margin-top: 0px; 
	margin-right: 0px; 
	margin-left: 0px; 
	background-color: white;
}

ul {
	list-style: none;
}
ol {
	list-style: none;
}

table {
	border-color: currentColor; 
	font-size: x-small;
}

td {
	text-align: left; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: x-small;
}

tr {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: x-small;
}

a {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: x-small; 
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
} */

.Input_text_12{
	font-size: 12px;
	background-color: #1c6bb6 ;
	color:white;
	font-weight: bolder;
	border-radius: 4px;
	border: 0px solid #8a8a8a;
	text-decoration: none;
}

.Input_cbo_12{
	font-size: 12px;
	background-color: #CCCCCC;
	color:#585858;
	font-weight: bolder;
	border-radius: 4px;
	border: 0px solid #8a8a8a;
	text-decoration: none;
}

.boton_azul{
	padding:8px 12px; 
	font-size: 12px;
	background-color: #1c6bb6 ;
	color:white;
	font-weight: bolder;
	border-radius: 4px;
	cursor: pointer; 
	border: 0px solid #8a8a8a;
	text-decoration: none;
	/*border: 0px solid transparent; */
}


.boton_rojo{
	padding:8px 12px; 
	font-size: 12px;
	background-color: #BD2D30 ;
	color:white;
	font-weight: bolder;
	border-radius: 4px;
	cursor: pointer; 
	border: 0px solid #8a8a8a;
	text-decoration: none;
	/*border: 0px solid transparent; */
	
	/*border-color: #952225; color: rgb(255, 255, 255); background-color: #BD2D30;*/
}

.boton_azul:hover{
	background-color: #336799;
	border: 0px solid #8a8a8a; 
	color:white;
}


input[type='text'] {
	padding: 5px; 
	/*border: 1px solid rgb(188, 188, 188); */	
	border-width: 1px;
	border-style: solid;
	border-color: #bcbcbc ;
	font-size: 12px; 
	color:#6F6F6F;
	/* text-transform:uppercase; */	
}

input[type='text']:focus {
	padding: 5px; 	
	background-color: #ffebb5;
	font-size: 12px; 
	color:#6F6F6F;
	/* text-transform:uppercase; */
	
}


 

input[readonly]{
    background-color:#F7F7F7;
	border-color: #BCBCBC;
	/*color:#494949;*/
	color:#585858;
}

input[disabled]{
/*    color:#666666;*/
	background-color:#D6D6D6;
	border-color: #494949;
	
}

input:disabled{
    color:#666666;
	background-color:#D6D6D6;
	border-color: #494949;
	
}



input[type='password'] {
	padding: 5px; 
	border-width: 1px;
	border-style: solid;
	border-color: #bcbcbc ;
	font-size: 12px; 
	color:#6F6F6F;	
}

input[type='password']:focus {
	padding: 5px; 	
	background-color: #ffebb5;
	font-size: 12px; 
	color:#6F6F6F;
}


select {
	padding: 5px; 
/*	padding: 5px; */
	border-width: 1px;
	border-style: solid;
	border-color: #bcbcbc ;
	font-size: 12px; 
	color:#6F6F6F;	
}


select:focus {
	font-size: 12px; 
    background-color: #ffebb5;
} 

textarea {
	padding: 2px; 
	font-size: 12px;
}

textarea:focus {
	padding: 2px; 	
	background-color: #ffebb5;
	font-size: 12px; 
	color:#6F6F6F;
}

textarea[readonly] {
	background-color:#F7F7F7;
	border-color: #BCBCBC;
	color:#585858;
}


hr{
	height: 1px;
	color:#D5E7F9;
	/*color:#e5f0fb;*/
	background:#D5E7F9;	
	border:0px dashed;
}

image{
	border:0px solid;
	border: currentColor; 
	border-image: none;
}

.separador_borde {
border-width: medium 0pt;
border-right-width: thin;
border-style: none solid;
border-color: -moz-use-text-color #01A5E3;
}

.hr_01{
	/* height: 1px; */
	/* color:#E5E5E5; */
	/* background:#E5E5E5;	 */
	/*border:1px dashed;*/
	border:1px solid #E5E5E5;
	margin-top: 0;
}

.Pie_centro {
	color: #336799;
	font-size: 10px;
	text-align:center;
}


.Pie_derecho {
	color: #336799;
	font-size: 10px;
	text-align:right;
}

.Pie_izquierda {
	color: #336799;
	font-size: 10px;
	text-align:left;
	
}


.TABLE_border4 {
	BORDER-RIGHT: #999999 1px solid; 
	BORDER-TOP: #999999 1px solid; 
	BORDER-LEFT: #999999 1px solid; 
	BORDER-BOTTOM: #999999 1px solid; 
	border-spacing: 1px
}

.TABLE_border5 {
	BORDER-RIGHT: #999999 1px solid; 
	BORDER-TOP: #999999 1px solid; 
	BORDER-LEFT: #999999 1px solid; 
	BORDER-BOTTOM: #999999 1px solid; 
	border-spacing: 1px;
	text-align:center;
}

.Titulo_28px {
    color: #336799;
    font-size: 28px;
}

.Titulo_plomo_28px {
    color: #666677;
    font-size: 28px;
}

.Titulo_plomo_25px {
    color: #666677;
    font-size: 25px;
}

.Titulo_plomo_17px {
    color: #666677;
    font-size: 17px;
}

.Titulo_plomo_18px {
    color: #666677;
    font-size: 18px;
}

.Titulo_plomo_19px {
    color: #666677;
    font-size: 19px;
}

.Titulo_plomo_20px {
    color: #666677;
    font-size: 20px;
}

.Titulo_30px {
    font-size: 30px;
    font-weight: normal;
    color: #103d69;
}

.Titulo_80px{
    float: left;
    color: #538cbd;
    font-size: 80px;
    padding: 30px;
}

.Titulo_20px{
	font-size: 20px;
	font-weight: normal;
	text-align:center;
}

.Titulo_60px{
    color: #538cbd;
    font-size: 60px;
}

.Titulo_25px {
	font-size: 25px;
	font-weight: normal;
	color: #103d69;
}

.Nav2 {
	padding: 0px; transition:margin-top 500ms; top: 0px; width: 100%; height: 20px; color: rgb(28, 76, 91); font-family: Arial, Helvetica, sans-serif; font-size: 12px; margin-top: 0px; position: fixed; z-index: 30; background-color: rgb(173, 216, 230); -webkit-transition: margin-top 500ms;
}

#BarraSup {
   
   /* background-color: #01a5e3;*/
	background-color: #e5322d;
    color: white;
    height: 46px;
    width: 100%;
    padding: 0px;
    margin: auto;
    margin-top: 0px;
    z-index: 99;
}

	
#BarraSupLogoMenus {
	margin: auto; padding: 10px 10px 7px; height: 24px; color: white; font-family: Arial, Helvetica, sans-serif; z-index: 98; max-width: 1150px; background-color: transparent;
}
#BarraSupLogoMenus span {
	padding: 10px 0px 0px 10px; color: white; font-size: 14px; background-color: transparent;
}
#BarraSupLogoMenus a {
	border-width: 0px 0px 3px; border-style: solid; border-color: transparent; padding: 10px 0px 0px; color: white; font-size: 12px; transition-duration: 200ms; transition-timing-function: linear; transition-delay: 100ms; -webkit-transition-property: border-color; -webkit-transition-duration: 200ms; -webkit-transition-timing-function: linear; -webkit-transition-delay: 100ms;
}
#BarraSupLogoMenus a:hover {
	border-width: 0px 0px 3px; border-style: solid; border-color: rgb(251, 197, 68); padding: 10px 5px 5px; color: rgb(251, 197, 68); font-size: 12px; text-decoration: none;
}
#BarraSupLogoMenus strong {
	padding: 0px; color: #fff; font-size: 20px; font-weight: normal;
}



.MS5ListaVerticalA ul {
	padding: 10px 20px 5px; color: rgb(101, 101, 101); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal;
}
.MS5ListaVerticalA li {
	padding: 5px 20px; color: rgb(140, 145, 141); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal;
}
.MS5ListaVerticalA a {
	padding: 10px 20px; border-radius: 0px 20px; transition:200ms linear; color: rgb(120, 120, 120); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; text-decoration: none; display: block; background-color: rgb(238, 238, 255);
}
.MS5ListaVerticalA a:hover {
	padding: 10px 20px; border-radius: 0px 20px; color: white; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; text-decoration: none; margin-left: 20px; display: block; z-index: 99; background-color: rgb(96, 150, 96);
}





.MS5ListaH ul {
	padding: 0px; font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}
.MS5ListaH li {
	float: left;
}
.MS5ListaH a {
	padding: 5px 5px; transition:200ms linear; width: 235px; height: 95px; color: rgb(101, 101, 101); font-size: 16px; font-weight: normal; display: block;
}
.MS5ListaH li > ul a {
	padding: 5px 5px; transition:200ms linear; width: 180px; height: 95px; color: rgb(101, 101, 101); font-size: 16px; font-weight: normal; display: block; background-color: rgb(200, 223, 212);
}
.MS5ListaH a p {
	color: rgb(120, 120, 120); font-size: 12px;
}
.MS5ListaH a:hover {
	text-decoration: none; background-color: rgb(238, 238, 255);
}




.MS5Lista_Sinabip ul {
	padding: 0px; font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}
.MS5Lista_Sinabip li {
	float: left;
}
.MS5Lista_Sinabip a {
	padding: 5px 5px; transition:500ms linear; width: 362px; height: 95px; color: rgb(101, 101, 101); font-size: 16px; font-weight: normal; display: block;
}
.MS5Lista_Sinabip li > ul a {
	padding: 5px 5px; transition:500ms linear; width: 180px; height: 95px; color: rgb(101, 101, 101); font-size: 16px; font-weight: normal; display: block; background-color: rgb(200, 223, 212);
}
.MS5Lista_Sinabip a p {
	color: rgb(120, 120, 120); font-size: 12px;
}
.MS5Lista_Sinabip a:hover {
	text-decoration: none; background-color: rgb(238, 238, 255);
}




.MS5ListaV ul {
	padding: 10px 20px 5px; color: rgb(101, 101, 101); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal;
}
.MS5ListaV li {
	padding: 5px 20px; color: rgb(140, 145, 141); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal;
}
.MS5ListaV a {
	padding: 10px 20px; border-radius: 5px; transition:500ms linear; color: rgb(120, 120, 120); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; display: block; background-color: rgb(238, 238, 255);
}
.MS5ListaV a:hover {
	color: white; text-decoration: none; background-color: rgb(96, 150, 96);
}





.SiteBienes {
	color: rgb(120, 120, 120); font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}
.SiteBienes a {
	padding: 6px 12px; color: rgb(138, 138, 138); font-family: Arial, Helvetica, sans-serif; font-size: 12px; display: block;
}

.SiteBienes a:hover {
	color: white; text-decoration: none; 
	/*background-color: rgb(56, 104, 146);*/
}

.SiteBienes #menu_sistema {
	background-image: url("../../webimages/iconos/menu1.png");
	background-repeat: no-repeat;
	height: 18px;
	width:38px;
	padding:0px 15px;
}

.SiteBienes #menu_sistema:hover {
	background-image: url("../../webimages/iconos/menu1h.png");
	background-repeat: no-repeat;
	background-color:#fff;
}



.texto_arial_rojo_15 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:15px;
	color: rgb(162, 42, 42);
}

.texto_arial_rojo_14 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color: rgb(162, 42, 42);
}

.texto_arial_rojo_13 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	color: rgb(162, 42, 42);
}

.texto_arial_rojo_12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color: rgb(162, 42, 42);
}




.texto_arial_rojo_n_15 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:15px;
	color: rgb(162, 42, 42);
	font-weight	: bold;
}

.texto_arial_rojo_n_16 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	color: rgb(162, 42, 42);
	font-weight	: bold;
}

.texto_arial_rojo_n_17 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:17px;
	color: rgb(162, 42, 42);
	font-weight	: bold;
}

.texto_arial_rojo_n_18 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	color: rgb(162, 42, 42);
	font-weight	: bold;
}
.texto_arial_rojo_n_14 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color: rgb(162, 42, 42);
	font-weight	: bold;
}

.texto_arial_rojo_n_13 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	color: rgb(162, 42, 42);
	font-weight	: bold;
}

.texto_arial_rojo_n_12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color: rgb(162, 42, 42);
	font-weight	: bold;
}

.texto_arial_rojo_n_10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;
	color: rgb(162, 42, 42);
	font-weight	: bold;
}
.texto_arial_rojo_n_11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	color: rgb(162, 42, 42);
	font-weight	: bold;
}


.texto_arial_azul_n_14 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#14587F;
	font-weight	: bold;
}

.texto_arial_azul_n_15 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#14587F;
	font-weight	: bold;
}

.texto_arial_azul_n_16 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#14587F;
	font-weight	: bold;
}

.texto_arial_azul_n_13 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#14587F;
	font-weight	: bold;
}

.texto_arial_azul_n_12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#14587F;
	font-weight	: bold;
}

.texto_arial_azul_n_11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#14587F;
	font-weight	: bold;
}

.texto_arial_azul_n_10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#14587F;
	font-weight	: bold;
}

.texto_arial_azul_n_9 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#14587F;
	font-weight	: bold;
}

.texto_arial_azul_n_8 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:8px;
	color:#14587F;
	font-weight	: bold;
}



.texto_arial_verde_n_11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#090;
	font-weight	: bold;
}

.texto_arial_plomo_a_14 {
    text-align: left;
    color: rgb(94, 94, 94);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.texto_arial_plomito_11 {
	FONT-FAMILY: Arial;
	font-size:11px;
	/* color:#fff; */
}

.texto_arial_plomito_10_N {
	FONT-FAMILY: Arial;
	font-size:10px;
	color:#333333;
	font-weight	: bold;
}


.texto_arial_plomito_11_N {
	FONT-FAMILY: Arial;
	font-size: 15px;
	color: #333333;
}


.texto_arial_rojo__n_12 {
	FONT-FAMILY: Arial;
	font-size:12px;
	color:#fff !important;
	font-weight	: bold;
	background: #e73a37;
	padding: 4px;
	margin-right: 10px;
}

.texto_arial_plomo_n_12 {
    FONT-FAMILY: Arial;
    font-size: 12px;
    color: #333333;
    font-weight: bold;
}

.texto_arial_plomo_n_13 {
	FONT-FAMILY: Arial;
	font-size:13px;
	color:#333333;
	font-weight	: bold;
}

.texto_arial_plomo_n_14 {
	FONT-FAMILY: Arial;
	font-size:14px;
	color:#333333;
	font-weight	: bold;
}

.texto_arial_plomo_n_15 {
	FONT-FAMILY: Arial;
	font-size:15px;
	color:#333333;
	font-weight	: bold;
}

.texto_arial_plomo_n_16 {
	FONT-FAMILY: Arial;
	font-size:16px;
	color:#333333;
	font-weight	: bold;
}

.texto_arial_plomo_n_17 {
	FONT-FAMILY: Arial;
	font-size:17px;
	color:#333333;
	font-weight	: bold;
}

.texto_arial_plomo_x1_10_negrita {
	FONT-FAMILY: Arial;
	font-size:10px;
	color:#A8A8A8;
	font-weight	: bold;
}


/**********************************************/

.zoom{
		
		BORDER-RIGHT: #999999 1px solid; 
		BORDER-TOP: #999999 1px solid; 
		BORDER-LEFT: #999999 1px solid; 
		BORDER-BOTTOM: #999999 1px solid; 
		border-spacing: 1px;
	
		transition: 1.5s ease;
 		-moz-transition: 1.5s ease; /* Firefox */
 		-webkit-transition: 1.5s ease; /* Chrome - Safari */
 		-o-transition: 1.5s ease; /* Opera */
	}
	.zoom:hover{
		transform : scale(2);
		-moz-transform : scale(2); /* Firefox */
		-webkit-transform : scale(2); /* Chrome - Safari */
		-o-transform : scale(2); /* Opera */
		-ms-transform : scale(2); /* IE9 */
	}
	
/**********************************************/


.btn_efect_01 {
	background-color:#3bb3e0;
	padding:5px 3px;
	position:relative;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	/*text-decoration:underline;*/
	color:#fff;
	border: solid 1px #186f8f;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,160,202)),
	color-stop(1, rgb(62,184,229))
	);
	-webkit-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
	-moz-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
	box-shadow: inset 0px 1px 0px #7fd2f1, 0px 1px 0px #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.btn_efect_01::before {
	background-color:#ccd0d5;
	content:"";
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	padding:5px 3px;
	left:-8px;
	top:-8px;
	z-index:-1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
	-moz-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
	-o-box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
	box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
	
}

.btn_efect_01:active {
	padding-bottom:9px;
	padding-left:10px;
	padding-right:10px;
	padding-top:11px;
	top:1px;
	background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(62,184,229)),
	color-stop(1, rgb(44,160,202))
	);
	
}




.btn_efect_02 {
	background-color:#3bb3e0;
	padding:10px;
	position:relative;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#fff;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,160,202)),
	color-stop(1, rgb(62,184,229))
	);
	-webkit-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 6px 0px #156785;
	-moz-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 6px 0px #156785;
	-o-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 6px 0px #156785;
	box-shadow: inset 0px 1px 0px #7fd2f1, 0px 6px 0px #156785;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.btn_efect_02::before {
	background-color:#072239;
	content:"";
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	padding-left:2px;
	padding-right:2px;
	padding-bottom:4px;
	left:-2px;
	top:5px;
	z-index:-1;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 1px 0px #fff;
	-moz-box-shadow: 0px 1px 0px #fff;
	-o-box-shadow: 0px 1px 0px #fff;
	box-shadow: 0px 1px 0px #fff;
}

.btn_efect_02:active {
	color:#156785;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
	background:rgb(44,160,202);
	-webkit-box-shadow: inset 0px 1px 0px #7fd2f1, inset 0px -1px 0px #156785;
	-moz-box-shadow: inset 0px 1px 0px #7fd2f1, inset 0px -1px 0px #156785;
	-o-box-shadow: inset 0px 1px 0px #7fd2f1, inset 0px -1px 0px #156785;
	box-shadow: inset 0px 1px 0px #7fd2f1, inset 0px -1px 0px #156785;
	top:7px;
}

.btn_efect_02:active::before {
	top:-2px;
}









.btn_efect_04 {
	background-color:#3bb3e0;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#fff;
	position:relative;
	padding:10px 20px;
	padding-right:50px;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,160,202)),
	color-stop(1, rgb(62,184,229))
	);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
}

.btn_efect_04:active {
	top:3px;
	background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(62,184,229)),
	color-stop(1, rgb(44,160,202))
	);
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}

.btn_efect_04::before {
	background-color:#2591b4;
	background-image:url(../../webimages/iconos/right_arrow.png);
	background-repeat:no-repeat;
	background-position:center center;
	content:"";
	width:20px;
	height:20px;
	position:absolute;
	right:15px;
	top:50%;
	margin-top:-9px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	-moz-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	-o-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
}

.btn_efect_04:active::before {
	top:50%;
	margin-top:-12px;
	-webkit-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	-moz-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	-o-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
}




#Mflotante a {
	padding: 6px 20px; color: rgb(119, 119, 119); font-family: Arial, Helvetica, sans-serif; font-size: 14px; display: block;
}
#Mflotante li ul li a {
	padding: 6px 20px; color: rgb(138, 138, 138); font-family: Arial, Helvetica, sans-serif; font-size: 12px; display: block;
}
#Mflotante a:hover {
	color: white; text-decoration: none; background-color: rgb(56, 104, 146);
}
#Mflotante ul {
	padding: 0px 0px 0px 5px; color: rgb(56, 104, 146);
}
#Mflotante li ul {
	border-width: 0px 0px 1px; border-style: solid; border-color: rgb(233, 241, 247);
}
#Mflotante li {
	padding: 0px; color: rgb(56, 104, 146); font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}







.MS5InformeA {
	border-width: 0px 0px 1px; border-style: solid; border-color: rgb(220, 231, 241); padding: 20px 0px 10px; text-align: left; color: rgb(101, 101, 101); font-family: Arial, Helvetica, sans-serif; font-size: 28px; font-weight: normal;
}
.MS5InformeA caption {
	border-width: 0px 0px 1px; border-style: solid; border-color: rgb(220, 231, 241); padding: 20px 100px 10px 30px; text-align: left; color: rgb(101, 101, 101); font-family: Arial, Helvetica, sans-serif; font-size: 28px; font-weight: normal;
}
.MS5InformeA th {
	border-width: 0px 0px 1px; border-style: solid; border-color: rgb(229, 238, 245); padding: 10px; color: rgb(101, 101, 101); font-family: Arial, Helvetica, sans-serif; font-size: 8px; font-weight: normal;
}
.MS5InformeA td {
	border-width: 0px 0px 1px; border-style: solid; border-color: rgb(229, 238, 245); padding: 10px; color: rgb(101, 101, 101); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal;
}
.MS5InformeA h1 {
	padding: 0px 0px 0px 20px; color: rgb(111, 161, 200); font-family: Arial, Helvetica, sans-serif; font-size: 26px; font-weight: normal; max-width: 140px;
}
.MS5InformeA h2 {
	padding: 0px; color: rgb(101, 101, 101); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal;
}
.MS5InformeA strong {
	padding: 0px; color: rgb(101, 101, 101); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal;
}
.MS5InformeA p {
	padding: 10px 20px; color: rgb(101, 101, 101); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal;
}


.MS5InformeB table {
	font-family: Arial, Helvetica, sans-serif;
}
.MS5InformeB caption {
	border-width: 0px 0px 1px; border-style: solid; border-color: rgb(220, 231, 241); padding: 20px 100px 10px 20px; text-align: left; color: rgb(101, 101, 101); font-family: Arial, Helvetica, sans-serif; font-size: 28px; font-weight: normal;
}
.MS5InformeB caption > strong {
	color: rgb(101, 101, 101); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal;
}
.MS5InformeB th {
	border-width: 0px 0px 1px; border-style: solid; border-color: rgb(229, 238, 245); padding: 0px 0px 0px 20px; width: 100px; text-align: right; color: rgb(111, 161, 200); font-family: Arial, Helvetica, sans-serif; font-size: 20px; font-weight: normal; min-height: 40px;
}
.MS5InformeB td {
	border-width: 0px 0px 1px; border-style: solid; border-color: rgb(229, 238, 245); padding: 10px; color: rgb(101, 101, 101); font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal;
}





.MS5BusquedaResultado h1 {
	padding: 10px; width: 100%; color: rgb(132, 132, 132); font-family: Arial, Helvetica, sans-serif; font-size: 20px; font-weight: normal; border-bottom-color: rgb(245, 245, 245); border-bottom-width: 1px; border-bottom-style: solid;
}
.MS5BusquedaResultado h2 {
	padding: 5px 30px 5px 0px; width: 100%; text-align: right; color: rgb(132, 132, 132); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal;
}
.MS5BusquedaResultado h4 {
	padding: 2px 5px; color: rgb(0, 100, 0); font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal;
}
.MS5BusquedaResultado ul {
	list-style: none; color: rgb(60, 60, 60);
}
.MS5BusquedaResultado li {
	padding: 5px 10px 15px; transition:100ms; width: 100%; color: rgb(130, 130, 130); font-family: Arial, Helvetica, sans-serif; font-size: 11px; border-bottom-color: rgb(245, 245, 245); border-bottom-width: 1px; border-bottom-style: solid; min-height: 30px; background-color: transparent; -webkit-transition: all 100ms;
}
.MS5BusquedaResultado li h3 {
	color: rgb(30, 144, 255); font-family: Arial, Helvetica, sans-serif; font-size: 28px; font-weight: normal;
}
.MS5BusquedaResultado li:hover {
	background-color: rgb(226, 244, 250);
}
.MS5BusquedaResultado li:focus {
	outline: 0px; background-color: rgb(226, 244, 250);
}
.MS5BusquedaResultado a {
	padding: 0px 10px; transition:500ms; -webkit-transition: all 500ms;
}
.MS5BusquedaResultado a:hover {
	text-transform: uppercase; font-weight: bold; cursor: pointer; transform: scale(1.25); -webkit-transform: scale(1.25); -o-transform: scale(1.25); -moz-transform: scale(1.25);
}
.MS5BusquedaResultado li p a {
	color: rgb(0, 104, 204);
}
.MS5BusquedaResultado li p a:hover {
	color: rgb(100, 179, 255); text-decoration: none; cursor: pointer;
}
.MS5BusquedaResultado .Etiqueta {
	color: rgb(0, 36, 49); font-family: Arial, Helvetica, sans-serif; font-size: 10px;
}
.MS5BusquedaResultado .Etiqueta h1 {
	border-width: 0px; padding: 0px; width: auto; color: rgb(0, 156, 213); font-family: Arial, Helvetica, sans-serif; font-size: 14px;
}


.Titulo_01_10px {
	/*padding: 10px 100px 10px 5px; */
	text-align: left; 
	color: rgb(101, 101, 101); 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10px; 
}

.Titulo_01_11px {
	/*padding: 10px 100px 10px 5px; */
	text-align: left; 
	color: rgb(101, 101, 101); 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
}

.Titulo_01_12px {
	/*padding: 10px 100px 10px 5px; */
	text-align: left; 
	color: rgb(101, 101, 101); 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
}


.Titulo_01_13px {
	/*padding: 10px 100px 10px 5px; */
	text-align: left; 
	color: rgb(101, 101, 101); 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 13px; 
}

.Titulo_01_14px {
	/*padding: 10px 100px 10px 5px; */
	text-align: left; 
	color: rgb(101, 101, 101); 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
}

.Titulo_01_15px {
	/*padding: 10px 100px 10px 5px; */
	text-align: left; 
	color: rgb(101, 101, 101); 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 15px; 
}


.Titulo_01_16px {
	/*padding: 10px 100px 10px 5px; */
	text-align: left; 
	color: rgb(101, 101, 101); 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 16px; 
}

.Titulo_01_17px {
	/*padding: 10px 100px 10px 5px; */
	text-align: left; 
	color: rgb(101, 101, 101); 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 17px; 
}

.Titulo_01_18px {
	/*padding: 10px 100px 10px 5px; */
	text-align: left; 
	color: rgb(101, 101, 101); 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 18px; 
}

.Titulo_01_19px {
	/*padding: 10px 100px 10px 5px; */
	text-align: left; 
	color: rgb(101, 101, 101); 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 19px; 
}



.Titulo_01_N_15px {

	text-align: left; 
	color: rgb(101, 101, 101); 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 15px; 
	font-weight:bold;
}

.Titulo_02_17px {
	/*padding: 10px 100px 10px 5px; */
	text-align: left; 
	color: #106A9E; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 17px; 
	font-weight:bold;
}

.Titulo_02_18px {
	/*padding: 10px 100px 10px 5px; */
	text-align: left; 
	color: #106A9E; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 18px; 
	font-weight:bold;
}

.Titulo_02_19px {
	/*padding: 10px 100px 10px 5px; */
	text-align: left; 
	color: #106A9E; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 19px; 
	font-weight:bold;
}

.texto_01_13px {
	 padding: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 13px;
}

.texto_01_14px {
	 padding: 0px; color: rgb(101, 101, 101); font-family: Arial, Helvetica, sans-serif; font-size: 14px; text-align:justify; font-weight: normal;
}




.MS5InformeC {
	padding: 20px 0px 10px; text-align: left; color: rgb(101, 101, 101); font-family: Arial, Helvetica, sans-serif; font-size: 28px; font-weight: normal;
}

.MS5InformeC caption {
	border-width: 0px 0px 1px; border-style: solid; border-color: #FFE4EF; padding: 15px 100px 15px 5px; text-align: left; color:#F80000 ; font-family: Arial, Helvetica, sans-serif; font-size: 26px; font-weight: normal;
}


.ListMouseOver {
	border-style: solid; 
	background-color: rgb(238, 238, 255);
	/*background-color: #E2F4FA;*/
	
}

.texto_arial_blanco_n_11 {
	FONT-FAMILY: Arial;
	font-size:11px;
	color:#FFFFFF;
	font-weight	: bold;
}

.texto_arial_blanco_n_12 {
	FONT-FAMILY: Arial;
	font-size:12px;
	color:#FFFFFF;
	font-weight	: bold;
}

/*
.btn {
	padding: 4px 8px; 
	border-radius: 8px; 
	border: 1px solid transparent;
	border-image: none; 
	text-align: center; 
	line-height: 1.4285; 
	font-size: 12px; 
	font-weight: normal; margin-bottom: 0px; vertical-align: middle; display: inline-block; white-space: nowrap; cursor: pointer; -ms-user-select: none; background-image: none; -webkit-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none;
}
*/
.btn:focus {
	outline: rgb(51, 51, 51) dotted thin; outline-offset: -2px;
}
.btn:hover {
	color: rgb(51, 51, 51); text-decoration: none;
}
.btn:focus {
	color: rgb(51, 51, 51); text-decoration: none;
}
.btn:active {
	outline: 0px; box-shadow: inset 0px 3px 5px rgba(0,0,0,0.125); background-image: none; -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}


/*
.btn-primary {
	border-color: #186F8F; color: rgb(255, 255, 255); background-color: #009CD5;
}
*/
.btn-primary:hover {
	border-color: rgb(40, 94, 142); color: rgb(255, 255, 255); background-color: #0183B2;
}
.btn-primary:focus {
	border-color: rgb(40, 94, 142); color: rgb(255, 255, 255); background-color: #0183B2;
}
.btn-primary:active {
	border-color: rgb(40, 94, 142); color: rgb(255, 255, 255); background-color: #0183B2;
}


.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}


.btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}


.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}


.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover {
    border-color: transparent;
}

.btn-link, .btn-link.active, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-Rojo {
	border-color: #952225; color: rgb(255, 255, 255); background-color: #BD2D30;
}
.btn-Rojo:hover {
	border-color: #801E20; color: rgb(255, 255, 255); background-color: #A82629;
}
.btn-Rojo:focus {
	border-color: #801E20; color: rgb(255, 255, 255); background-color: #A82629;
}
.btn-Rojo:active {
	border-color: #801E20; color: rgb(255, 255, 255); background-color: #A82629;
}


.FrmBuscadorFlotante h1 {
	padding: 0px 20px 5px 0px; color: rgb(41, 144, 176); font-family: Arial, Helvetica, sans-serif; font-size: 24px; font-weight: normal;
}
.FrmBuscadorFlotante p {
	padding: 0px 20px 5px 0px; color: rgb(41, 144, 176); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal;
}
.FrmBuscadorFlotante td {
	padding: 0px 3px; color: rgb(131, 131, 131); font-size: 12px;
}



.ReportA2 table {
	font-family: Arial, Helvetica, sans-serif; font-size: x-small;
}
.ReportA2 td {
	padding: 1px 1px 1px 10px; color: rgb(88, 88, 88); font-family: Arial, Helvetica, sans-serif; font-size: x-small; empty-cells: show;
}
.ReportA2 th {
	padding: 1px 1px 1px 10px; text-align: left; color: rgb(148, 148, 148); font-family: Arial, Helvetica, sans-serif; font-size: x-small; empty-cells: show;
}



.ReportA2List table {
	font-family: Arial, Helvetica, sans-serif; font-size: x-small;
}
.ReportA2List td {
	/*
	border-color: rgb(245, 245, 245); padding: 1px 1px 1px 10px; color: rgb(88, 88, 88); font-family: Arial, Helvetica, sans-serif; font-size: x-small; border-bottom-width: 1px; border-bottom-style: solid; empty-cells: show;*/
}
.ReportA2List th {
	padding: 1px 1px 1px 10px; color: rgb(148, 148, 148); font-family: Arial, Helvetica, sans-serif; font-size: x-small; empty-cells: show;
}
.ReportA2List caption {
	text-align: left; color: rgb(51, 102, 153); font-family: Arial, Helvetica, sans-serif; font-size: 18px; border-bottom-color: rgb(204, 204, 255); border-bottom-width: 1px; border-bottom-style: solid;
}


/* css Alberto ***************************************************** */


.texto_arial_blanco_n_13 {
	FONT-FAMILY: Arial;
	font-size:13px;
	color:#FFFFFF;
	font-weight	: bold;
	text-align: center; 
}

.texto_arial_blanco_n_17 {
	FONT-FAMILY: Arial;
	font-size:17px;
	color:#FFFFFF;
	font-weight	: bold;
}


.texto_arial_blanco_n_18 {
	FONT-FAMILY: Arial;
	font-size:18px;
	color:#FFFFFF;
	font-weight	: bold;
}

.contenido1{
	FONT-FAMILY: Arial;
	font-size:12px;
	color:#666666;
	font-weight: normal;
	text-align: center; 
}
.contenido2{
	FONT-FAMILY: Arial;
	font-size:12px;
	color:#666666;
	font-weight: normal;
}

.hovergallery img{
-webkit-transform:scale(0.8); 
-moz-transform:scale(0.8); 
-o-transform:scale(0.8); 
-ms-transform:scale(0.8); 
-webkit-transition-duration: 0.5s; 
-moz-transition-duration: 0.5s; 
-o-transition-duration: 0.5s; 
-ms-transition-duration: 0.5s;
opacity: 0.8; /*Nivel de opacidad de las imágenes*/
margin: 5px 5px 5px 5px; /*Margen entre las imágenes*/
}

.hovergallery img:hover{
-webkit-transform:scale(1.1); /*Webkit: Escala de aumento de la imagen 1.2x tamaño original*/
-moz-transform:scale(1.1); 
-o-transform:scale(1.1); 
-ms-transform:scale(1.1); 
box-shadow:0px 0px 30px gray; /*Sombra sobre toda la imagen*/
-webkit-box-shadow:0px 0px 30px gray; 
-moz-box-shadow:0px 0px 30px gray;
-ms-box-shadow:0px 0px 30px gray; 
opacity: 2;
}


/* css Alberto*************************************************** */



.Q1 {
	color: rgb(119, 136, 153); text-transform: uppercase; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal;
}
.Q2 {
	color: orange; font-family: Arial, Helvetica, sans-serif; font-size: 12px;
}


.vermas a {
	padding: 5px 5px 5px 15px; color: rgb(2, 138, 255); font-weight: normal; text-decoration: none; background-color: transparent;
}
.vermas a:hover {
	padding: 5px 5px 5px 15px; color: rgb(194, 38, 38); font-weight: normal; text-decoration: none; cursor: pointer; background-color: transparent;
}



.PaginaDerecha {
	padding: 10px; border: 1px solid transparent; width: 100%; height: 100%; text-align: left; font-family: Arial, Helvetica, sans-serif; font-size: 14px; min-width: 260px;
}
.PaginaDerecha h1 {
	width: 100%; color: rgb(55, 90, 136); font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: normal;
}
.PaginaDerecha p {
	width: 100%; color: rgb(94, 94, 94); font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal;
}
.PaginaDerecha table {
	width: 100%; color: rgb(94, 94, 94); font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal;
}
.PaginaDerecha caption {
	padding: 20px 5px 0px 10px; width: 100%; text-align: left; color: rgb(94, 94, 94); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold;
}
.PaginaDerecha th {
	padding: 2px 5px 2px 10px; text-align: left; color: rgb(94, 94, 94); font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold;
}
.PaginaDerecha td {
	padding: 2px 5px 2px 10px; text-align: left; color: rgb(94, 94, 94); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal;
}
.PaginaDerecha b {
	padding: 2px 5px 2px 10px; text-align: left; color: rgb(94, 94, 94); font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold;
}






.MS5DataFlow {
	padding: 20px 0px 10px; border: 0px solid rgb(220, 231, 241); text-align: left; color: rgb(101, 101, 101); font-family: Arial, Helvetica, sans-serif; font-size: 28px; font-weight: normal;
}
.MS5DataFlow caption {
	border-width: 0px 0px 1px; border-style: solid; border-color: rgb(220, 231, 241); padding: 20px 20px 0px; text-align: left; color: rgb(111, 161, 200); font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: normal;
}
.MS5DataFlow th {
	border-width: 0px 0px 1px; border-style: solid; border-color: rgb(229, 238, 245); padding: 10px; color: rgb(101, 101, 101); font-family: Arial, Helvetica, sans-serif; font-size: 8px; font-weight: normal;
}
.MS5DataFlow td {
	border-width: 0px 0px 1px; border-style: dotted; border-color: rgb(229, 238, 245); padding: 10px 20px; color: rgb(101, 101, 101); font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal;
}
.MS5DataFlow td > h1 {
	border-width: 0px; padding: 0px; color: rgb(0, 120, 164); font-family: Arial, Helvetica, sans-serif; font-size: 16px;
}
.MS5DataFlow td > h2 {
	padding: 0px; text-align: left; color: rgb(0, 120, 164); font-family: Arial, Helvetica, sans-serif; font-size: 9px;
}
.MS5DataFlow td > h3 {
	padding: 0px; width: 100%; text-align: left; color: rgb(0, 120, 164); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 100;
}
.MS5DataFlow td > h4 {
	padding: 0px; width: 100%; text-align: left; color: rgb(0, 120, 164); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: 100; display: block; background-color: white;
}
.MS5DataFlow h2 {
	padding: 0px; color: rgb(101, 101, 101); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal;
}
.MS5DataFlow h4 {
	padding: 0px; color: rgb(140, 145, 141); font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: normal;
}
.MS5DataFlow h4 b {
	padding: 0px 20px; color: rgb(101, 101, 101); font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold;
}
.MS5DataFlow h4 p {
	margin: 0px; padding: 0px; color: rgb(101, 101, 101); font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold;
}
.MS5DataFlow td:nth-child(1) {
	margin: 10px; padding: 10px; border-radius: 3px; border: 5px solid white; border-image: none; text-align: right; color: rgb(111, 161, 200); font-family: Arial, Helvetica, sans-serif; font-size: 28px; font-weight: normal; vertical-align: top; background-color: rgb(219, 231, 242);
}
.MS5DataFlow strong {
	padding: 0px; color: rgb(101, 101, 101); font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal;
}
.MS5DataFlow p {
	padding: 5px 20px; color: rgb(101, 101, 101); font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal;
}
.MS5DataFlow p b {
	color: rgb(101, 101, 101); font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold;
}
.MS5DataFlow td ul {
	color: rgb(101, 101, 101); font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal;
}
.MS5DataFlow td ul li {
	padding: 3px 10px; color: rgb(101, 101, 101); float: left;
}
.MS5DataFlow td ul li b {
	color: rgb(95, 158, 160);
}
.MS5DataFlow td ul li a {
	padding: 0px 10px; color: rgb(95, 158, 160);
}
.MS5DataFlow td ul li a:hover {
	color: rgb(0, 120, 164); text-decoration: none;
}



.ReportA2C table {
	font-family: Arial, Helvetica, sans-serif; font-size: x-small;
}
.ReportA2C td {
	padding: 1px 1px 1px 1px; color: rgb(88, 88, 88); font-family: Arial, Helvetica, sans-serif; font-size: x-small; border-bottom-color: rgb(243, 247, 254); border-bottom-width: 1px; border-bottom-style: solid; empty-cells: show;
}
.ReportA2C th {
	padding: 1px 1px 1px 1px; color: rgb(148, 148, 148); font-family: Arial, Helvetica, sans-serif; font-size: x-small; empty-cells: show;
}
.ReportA2C caption {
	text-align: left; color: rgb(51, 102, 153); font-family: Arial, Helvetica, sans-serif; font-size: 18px; border-bottom-color: rgb(204, 204, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
.ReportA2C td h1 {
	margin: 0px; padding: 0px; text-align: left; color: rgb(51, 102, 153); font-family: Arial, Helvetica, sans-serif; font-size: 40px; font-weight: normal;
}
.ReportA2C td h2 {
	margin: 0px; padding: 0px; text-align: left; color: rgb(113, 131, 148); font-family: Arial, Helvetica, sans-serif; font-size: 30px; font-weight: normal;
}
.ReportA2C td h2 {
	margin: 0px; padding: 0px; text-align: left; color: rgb(113, 131, 148); font-family: Arial, Helvetica, sans-serif; font-size: 20px; font-weight: normal;
}



/*Bos mensajes*/
#messages {margin: 0 auto;width: 900px;background: rgba(69, 212, 133, 0.96);border: 1px solid #ccc;border-radius: 8px;padding: 9px;position: relative;display: none;}
#messages span{position: absolute;background: #ccc;padding: 3px;border-radius: 4px;float: left<;right: 6px;top: 6px;}




/* Manuel Ruiz Alvarez */

.instance_content {
	border:none;
	background:#F4F4F4 ;
}
.table_predio {
	margin-left:auto;
	margin-right:auto;
}
.table_header {
    background: #F4F4F4 ;
    padding: 2em;
    border: 2px solid #B3B0B0;
}
.table_header td{
	color:#5F5C5C ;
	font-size: 1.2em;
	font-weight: bold;
}
.tabla_form_add {
	background:#F4F4F4;
	padding:5px ;
}
.tabla_form_add textarea {
	resize:none ;	
}
.tabla_form_instance_add {
	background:#E4E4E4;
	padding:5px ;
}
.tabla_form_add td,
.tabla_form_instance_add td,
.table_content_list td,
.table_predio td,
#tbl_Resultado_Lista_Alta_BP td  {
	font-size:1.2em;
}

td .form_big_title {
    font-size: 1.8em;
    font-weight: bold;
	padding-left:1% ;
	text-align: left;
	text-decoration: underline;
	width:100% ;
}
td .form_title_add {
    font-size: 1.5em;
    font-weight: bold;
	padding-left:1% ;
	text-align: left;
	width:100% ;
}
.tab_content {
	background:#F4F4F4 !important;	
}
.table_content_list {
	background:white ;
}
.tabla_litigante td,
.list_footer_total td {
	font-size:1.1em;
	font-family:Arial, Helvetica, sans-serif;
}
.table_content_list .tab_list_title {
	background:#D6D6D6 ;
	text-align:center ;		
	font-size: 1.3em;
}
.table_content_list .list_footer_total {
	border-bottom:1px solid black ;
	text-align:center ;
}
.table_content_list .list_footer_total_cell {
    width: 80%;
    text-align: center;	
}
.predio_etiqueta {
	/* padding-left: 1%; */
	width:5% ;	
}
.predio_ubigeo {
	width:10%
}
.predio_datos {
	width:50%
}
.instancia_etiqueta {
	padding-left: 1%;
	width:15 ;	
}
.instancia_organo_cbo {
	width:20% ;	
}
/* buttons */
.save {
    font-size: 1.2em !important;
	padding: 5px 15px;
}
.incidencias_button_save {
	text-align:center;	
}
.predio_button_add {
    text-align: right;
    padding-right: 3%;
}
.ui-tabs .ui-tabs-nav li {
    background: #406DA7; 
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background: white ; 
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
	color: black ;
}

.ui-tabs .ui-tabs-nav li a{
    color: white;
}
input[readonly].juicio_cerrado {
    color: red !important;
	font-weight:bold !important;
	font-size:1.5em !important;
}

.oculta-tabs {
    z-index: 100;
    background-color: transparent;
    top: 35px;
    position: relative;
    height: 30px;
}
input[disabled] {
	    border: 1px gray !important;
}

