.menu,
.menu ul,
.menu li,
.menu a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.menuDetalle,
.menuDetalle ul,
.menuDetalle li,
.menuDetalle a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

/* Menu */
.menu {
    height: 40px;
    width: 1000px;

    background: #FE9A2E; /*color de de fondo del menu */
    background: -webkit-linear-gradient(top, #0099CC 0%,#0070c0 100%);
    background: -moz-linear-gradient(top, #0099CC 0%,#0070c0 100%);
    background: -o-linear-gradient(top, #0099CC 0%,#0070c0 100%);
    background: -ms-linear-gradient(top, #0099CC 0%,#0070c0 100%);
    background: linear-gradient(top, #0099CC 0%,#0070c0 100%);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.menuDetalle {
    height: 40px;
    width: 1000px;

    background: #FE9A2E; /*color de de fondo del menu */
    background: -webkit-linear-gradient(top, #FE9A2E 0%,#FE9A2E 100%);
    background: -moz-linear-gradient(top, #FE9A2E 0%,#FE9A2E 100%);
    background: -o-linear-gradient(top, #FE9A2E 0%,#FE9A2E 100%);
    background: -ms-linear-gradient(top, #FE9A2E 0%,#FE9A2E 100%);
    background: linear-gradient(top, #FE9A2E 0%,#FE9A2E 100%);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.menu li {
    position:relative;
    list-style: none;
    float: left;
    display: block;
    height: 40px;
	z-index:100;
}

.menuDetalle li {
    position:relative;
    list-style: none;
    float: left;
    display: block;
    height: 40px;
	z-index:100;
}


/* Links */

.menu li a {
    display: block;
    padding: 0 14px;
    margin: 6px 0;
    line-height: 28px;
    text-decoration: none;

    border-left: 1px solid #393942;
    border-right: 1px solid #4f5058;

    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;

    color: #f3f3f3;/*color de texto del menu*/
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);

    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

.menuDetalle li a {
    display: block;
    padding: 0 14px;
    margin: 6px 0;
    line-height: 28px;
    text-decoration: none;

    border-left: 1px solid #393942;
    border-right: 1px solid #4f5058;

    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;

    color: #f3f3f3;/*color de texto del menu*/
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);

    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

.menu li:first-child a { border-left: none; }
.menu li:last-child a{ border-right: none; }

.menu li:hover > a { color: #CCCCCC; } /* color de texto como segundo color  */

/* Sub Menu */

.menu ul {
    position: absolute;
    top: 40px;
    left: 0;

    opacity: 0;

    background: #01a5e3; /*color del boton*/

    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;

    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}

.menuDetalle ul {
    position: absolute;
    top: 40px;
    left: 0;

    opacity: 0;

    background: #01a5e3; /*color del boton*/

    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;

    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}

.menu li:hover > ul { opacity: 1; }

.menu ul li {
    height: 0;
    overflow: hidden;
    padding: 0;

    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}

.menuDetalle ul li {
    height: 0;
    overflow: hidden;
    padding: 0;

    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}

.menu li:hover > ul li {
    height: 36px;
    overflow: visible;
    padding: 0;
}

.menuDetalle li:hover > ul li {
    height: 36px;
    overflow: visible;
    padding: 0;
}

.menu ul li a {
    width: 200px;
    padding: 4px 0 4px 40px;
    margin: 0;

    border: none;
    border-bottom: 1px solid #FFFFFF;/*linea del boton*/
}
.menuDetalle ul li a {
    width: 200px;
    padding: 4px 0 4px 40px;
    margin: 0;

    border: none;
    border-bottom: 1px solid #FFFFFF;/*linea del boton*/
}


.menu ul li:last-child a { border: none; }

/* Icons */

.menu a.documents { background: url(../imagenes/iconos/docs.png)no-repeat 6px center; }
.menu a.messages { background:  url(../imagenes/iconos/bubble.png)no-repeat 6px center; }
.menu a.signout { background:  url(../imagenes/iconos/arrow.png)no-repeat 6px center; }
