.contenido1{
	FONT-FAMILY: Arial;
	font-size:12px;
	color:#666666;
	font-weight: normal;
	
}

.titulo1{
	
	FONT-FAMILY: Arial;
	font-size:16px;
	font-weight	: bold;
	font-style:italic;
	color:#000000;
	
}
.subtituloweb{
	
	FONT-FAMILY: Arial;
	font-size:13px;
	color:#006CB7;
	
}
.fuente3{
	
	font-family:Verdana, Helvetica, sans-serif;
	font-weight	: bold;
	font-size:12px;
	color:#006CB7;
	}
.fuente_rojo{
	
	FONT-FAMILY: Arial;
	font-size:12px;
	color:#FF0000;
	
}
.fondo_contenido_2 {
	background:url(../imagenes/fondo/fondo.jpg) repeat-x;
}

.fondo_contenido_blanco {
	background:url(../imagenes/fondo/fondo_blanco.png) repeat-x;
	
	background-position: top left;
  background-repeat: no repeat;
  background-attachment:fixed; 
}

.text_area1{
    border:1px solid #999999;
    width:100%;
    margin:5px 0;
    padding:3px;
}

.TABLE_border1 {
	BORDER-RIGHT: #B4C2CB 1px solid; 
	BORDER-TOP: #B4C2CB 1px solid; 
	BORDER-LEFT: #B4C2CB 1px solid; 
	BORDER-BOTTOM: #B4C2CB 1px solid; 
	border-spacing: 1px
}

.TABLE_border2 {
	BORDER-RIGHT: #004669 1px solid; 
	BORDER-TOP: #004669 1px solid; 
	BORDER-LEFT: #004669 1px solid; 
	BORDER-BOTTOM: #004669 1px solid; 
	border-spacing: 1px
}

.TABLE_border3 {
	BORDER-RIGHT: #005F8C 0px solid; 
	BORDER-TOP: #005F8C 0px solid; 
	BORDER-LEFT: #005F8C 0px solid; 
	BORDER-BOTTOM: #005F8C 1px solid; 
	border-spacing: 1px
}

.TABLE_border4 {
	BORDER-RIGHT: #999999 1px solid; 
	BORDER-TOP: #999999 1px solid; 
	BORDER-LEFT: #999999 1px solid; 
	BORDER-BOTTOM: #999999 1px solid; 
	border-spacing: 1px
}

.TABLE_border5 {
	BORDER-RIGHT: #d7dad6 1px solid; 
	BORDER-TOP: #d7dad6 1px solid; 
	BORDER-LEFT: #d7dad6 1px solid; 
	BORDER-BOTTOM: #d7dad6 1px solid; 
	border-spacing: 1px
}

.TABLE_border6 {
	BORDER-RIGHT: #69819C 1px solid; 
	BORDER-TOP: #69819C 1px solid; 
	BORDER-LEFT: #69819C 1px solid; 
	BORDER-BOTTOM: #69819C 1px solid; 
	border-spacing: 1px
}

.TABLE_border7 {
	BORDER-RIGHT: #3B80B8 1px solid; 
	BORDER-TOP: #3B80B8 1px solid; 
	BORDER-LEFT: #3B80B8 1px solid; 
	BORDER-BOTTOM: #3B80B8 1px solid; 
	border-spacing: 1px
}

.texto_arial_blanco_9 {
	FONT-FAMILY: Arial;
	font-size:9px;
	color:#FFFFFF;
}

.texto_arial_blanco_n_9 {
	FONT-FAMILY: Arial;
	font-size:9px;
	color:#FFFFFF;
	font-weight	: bold;
}

.texto_arial_blanco_10 {
	FONT-FAMILY: Arial;
	font-size:10px;
	color:#FFFFFF;
}

.texto_arial_blanco_n_10 {
	FONT-FAMILY: Arial;
	font-size:10px;
	color:#FFFFFF;
	font-weight	: bold;
}

.texto_arial_blanco_11 {
	FONT-FAMILY: Arial;
	font-size:11px;
	color:#FFFFFF;
}

.texto_arial_blanco_n_11 {
	FONT-FAMILY: Arial;
	font-size:11px;
	color:#FFFFFF;
	font-weight	: bold;
}

.texto_arial_blanco_12 {
	FONT-FAMILY: Arial;
	font-size:12px;
	color:#FFFFFF;
}

.texto_arial_blanco_n_12 {
	FONT-FAMILY: Arial;
	font-size:12px;
	color:#FFFFFF;
	font-weight	: bold;
}

.texto_arial_blanco_13 {
	FONT-FAMILY: Arial;
	font-size:13px;
	color:#FFFFFF;
}

.texto_arial_blanco_n_13 {
	FONT-FAMILY: Arial;
	font-size:13px;
	color:#FFFFFF;
	font-weight	: bold;
}

.texto_arial_blanco_14 {
	FONT-FAMILY: Arial;
	font-size:14px;
	color:#FFFFFF;
}

.texto_arial_blanco_n_14 {
	FONT-FAMILY: Arial;
	font-size:14px;
	color:#FFFFFF;
	font-weight	: bold;
}

.texto_arial_blanco_15 {
	FONT-FAMILY: Arial;
	font-size:15px;
	color:#FFFFFF;
}

.texto_arial_blanco_n_15 {
	FONT-FAMILY: Arial;
	font-size:15px;
	color:#FFFFFF;
	font-weight	: bold;
}

.texto_arial_blanco_16 {
	FONT-FAMILY: Arial;
	font-size:16px;
	color:#FFFFFF;
}

.texto_arial_blanco_n_16 {
	FONT-FAMILY: Arial;
	font-size:16px;
	color:#FFFFFF;
	font-weight	: bold;
}

.texto_arial_blanco_17 {
	FONT-FAMILY: Arial;
	font-size:17px;
	color:#FFFFFF;
}

.texto_arial_blanco_n_17 {
	FONT-FAMILY: Arial;
	font-size:17px;
	color:#FFFFFF;
	font-weight	: bold;
}

.texto_arial_azul_9 {
	FONT-FAMILY: Arial;
	font-size:9px;
	color:#14587F;
}

.texto_arial_azul_10 {
	FONT-FAMILY: Arial;
	font-size:10px;
	color:#14587F;
}

.texto_arial_azul_11 {
	FONT-FAMILY: Arial;
	font-size:11px;
	color:#14587F;
}

.texto_arial_azul_n_11 {
	FONT-FAMILY: Arial;
	font-size:11px;
	color:#14587F;
	font-weight	: bold;
}

.texto_arial_azul_12 {
	FONT-FAMILY: Arial;
	font-size:12px;
	color:#14587F;
}

.texto_arial_azul_n_12 {
	FONT-FAMILY: Arial;
	font-size:12px;
	color:#14587F;
	font-weight	: bold;
}

.texto_arial_azul_13 {
	FONT-FAMILY: Arial;
	font-size:13px;
	color:#14587F;
}

.texto_arial_azul_n_13 {
	FONT-FAMILY: Arial;
	font-size:13px;
	color:#14587F;
	font-weight	: bold;
}

.texto_arial_azul_14 {
	FONT-FAMILY: Arial;
	font-size:14px;
	color:#14587F;
}

.texto_arial_azul_n_14 {
	FONT-FAMILY: Arial;
	font-size:14px;
	color:#14587F;
	font-weight	: bold;
}

.texto_arial_azul_n_15 {
	FONT-FAMILY: Arial;
	font-size:15px;
	color:#14587F;
	font-weight	: bold;
}

.texto_arial_azul_n_16 {
	FONT-FAMILY: Arial;
	font-size:16px;
	color:#14587F;
	font-weight	: bold;
}

.texto_arial_azul_n_17 {
	FONT-FAMILY: Arial;
	font-size:17px;
	color:#14587F;
	font-weight	: bold;
}

.texto_arial_azul_n_18 {
	FONT-FAMILY: Arial;
	font-size:18px;
	color:#14587F;
	font-weight	: bold;
}

.texto_arial_plomo_10 {
	FONT-FAMILY: Arial;
	font-size:10px;
	color:#333333;
}

.texto_arial_plomo_n_10 {
	FONT-FAMILY: Arial;
	font-size:10px;
	color:#333333;
	font-weight	: bold;
}


.texto_arial_plomo_11 {
	FONT-FAMILY: Arial;
	font-size:11px;
	color:#333333;
}

.texto_arial_plomo_n_11 {
	FONT-FAMILY: Arial;
	font-size:11px;
	color:#333333;
	font-weight	: bold;
}

.texto_arial_rojo_11 {
	FONT-FAMILY: Arial;
	font-size:11px;
	color:#9F0000;
}

.texto_arial_rojo_n_11 {
	FONT-FAMILY: Arial;
	font-size:12px;
	color:#DD0000;
	font-weight	: bold;
}


.texto_arial_plomo_12 {
	FONT-FAMILY: Arial;
	font-size:12px;
	color:#333333;
}

.texto_arial_plomo_n_12 {
	FONT-FAMILY: Arial;
	font-size:12px;
	color:#333333;
	font-weight	: bold;
}

.texto_arial_plomo_13 {
	FONT-FAMILY: Arial;
	font-size:13px;
	color:#333333;
}

.texto_arial_plomo_n_13 {
	FONT-FAMILY: Arial;
	font-size:13px;
	color:#333333;
	font-weight	: bold;
}

.input_text_11_verde {
	color: #2D5F77;
	font-family: Arial;
	font-size: 11px;
	/*width:194px;*/
	BORDER-BOTTOM: #919191 1px solid;
	BORDER-RIGHT: #919191 1px solid;
	BORDER-TOP: #919191 1px solid;
	BORDER-LEFT: #919191 1px solid;
}

.input_text_12_verde {
	color: #2D5F77;
	font-family: Arial;
	font-size: 12px;
	/*width:194px;*/
	BORDER-BOTTOM: #919191 1px solid;
	BORDER-RIGHT: #919191 1px solid;
	BORDER-TOP: #919191 1px solid;
	BORDER-LEFT: #919191 1px solid;
}

.input_text_11_plomo {
	color: #666666;
	font-family: Arial;
	font-size: 11px;
	/*width:194px;*/
	BORDER-BOTTOM: #919191 1px solid;
	BORDER-RIGHT: #919191 1px solid;
	BORDER-TOP: #919191 1px solid;
	BORDER-LEFT: #919191 1px solid;
}

.input_text_11_plomo_x1 {
	color: #666666;
	background:#E2E2E2;
	font-family: Arial;
	font-size: 11px;
	/*width:194px;*/
	BORDER-BOTTOM: #B7B7B7 1px solid;
	BORDER-RIGHT: #B7B7B7 1px solid;
	BORDER-TOP: #B7B7B7 1px solid;
	BORDER-LEFT: #B7B7B7 1px solid;
}

.input_text_12_plomo {
	color: #666666;
	font-family: Arial;
	font-size: 12px;
	BORDER-BOTTOM: #919191 1px solid;
	BORDER-RIGHT: #919191 1px solid;
	BORDER-TOP: #919191 1px solid;
	BORDER-LEFT: #919191 1px solid;
}

.input_text_12_guinda{
	FONT-FAMILY: Arial;
	font-size:12px;
	color:#A02E1B;
}

.input_text_12_guinda_negrita{
	FONT-FAMILY: Arial;
	font-size:12px;
	color:#A02E1B;
	font-weight	: bold;
}

.input_text_color_plomo_texto_13 {
	color: #FFCC00;
	font-family: Arial;
	font-size: 13px;
	background:#999999;
	height:18px;
	BORDER-BOTTOM: #333333 1px solid;
	BORDER-RIGHT: #333333 1px solid;
	BORDER-TOP: #333333 1px solid;
	BORDER-LEFT: #333333 1px solid;
}
.input_text_color_plomo_texto_13_ingreso {
	color: #004488;
	font-family: Arial;
	font-size: 13px;
	background:#FFFFFF;
	height:18px;
	BORDER-BOTTOM: #919191 1px solid;
	BORDER-RIGHT: #919191 1px solid;
	BORDER-TOP: #919191 1px solid;
	BORDER-LEFT: #919191 1px solid;
}


.texto_arial_plomo_x1_10 {
	FONT-FAMILY: Arial;
	font-size:10px;
	color:#A8A8A8;
}

.texto_arial_plomo_x1_10_negrita {
	FONT-FAMILY: Arial;
	font-size:10px;
	color:#A8A8A8;
	font-weight	: bold;
}

.texto_arial_plomo_x1_11 {
	FONT-FAMILY: Arial;
	font-size:11px;
	color:#A8A8A8;
}


.texto_arial_plomo_x1_11_negrita {
	FONT-FAMILY: Arial;
	font-size:11px;
	color:#A8A8A8;
	font-weight	: bold;
}


.texto_arial_plomo_x1_12 {
	FONT-FAMILY: Arial;
	font-size:12px;
	color:#A8A8A8;
}

.texto_arial_plomo_x1_12_negrita {
	FONT-FAMILY: Arial;
	font-size:12px;
	color:#A8A8A8;
	font-weight	: bold;
}


.texto_arial_plomo_x2_10 {
	FONT-FAMILY: Arial;
	font-size:10px;
	color:#C50019;
}

.texto_arial_plomo_x2_10_negrita {
	FONT-FAMILY: Arial;
	font-size:10px;
	color:#C50019;
	font-weight	: bold;
}

.texto_arial_plomo_x2_11 {
	FONT-FAMILY: Arial;
	font-size:11px;
	color:#C50019;
}

.texto_arial_plomo_x2_11_negrita {
	FONT-FAMILY: Arial;
	font-size:11px;
	color:#C50019;
	font-weight	: bold;
}

.texto_arial_plomo_x2_12 {
	FONT-FAMILY: Arial;
	font-size:12px;
	color:#C50019;
}

.texto_arial_plomo_x2_12_negrita {
	FONT-FAMILY: Arial;
	font-size:12px;
	color:#C50019;
	font-weight	: bold;
}


.texto_arial_plomo_x2_13_negrita {
	FONT-FAMILY: Arial;
	font-size:13px;
	color:#C50019;
	font-weight	: bold;
}

.texto_arial_plomo_x2_14_negrita {
	FONT-FAMILY: Arial;
	font-size:14px;
	color:#C50019;
	font-weight	: bold;
}

.texto_arial_plomo_x2_15_negrita {
	FONT-FAMILY: Arial;
	font-size:15px;
	color:#C50019;
	font-weight	: bold;
}

.texto_arial_plomo_x2_16_negrita {
	FONT-FAMILY: Arial;
	font-size:16px;
	color:#C50019;
	font-weight	: bold;
}


.texto_arial_plomo_x3_10 {
	FONT-FAMILY: Arial;
	font-size:10px;
	color:#666666;
}

.texto_arial_plomo_x3_10_negrita {
	FONT-FAMILY: Arial;
	font-size:10px;
	color:#666666;
	font-weight	: bold;
}


.texto_arial_plomo_x3_11 {
	FONT-FAMILY: Arial;
	font-size:11px;
	color:#666666;
}

.texto_arial_plomo_x3_11_negrita {
	FONT-FAMILY: Arial;
	font-size:11px;
	color:#666666;
	font-weight	: bold;
}
.titulos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #566cb7;
}
.subtitulos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #566cb7;
}
