.fondo_contenido_blanco {
		background:url(../imagenes/fondos/fondo_blanco.png) repeat-x;
	
	background-position: top left;
  background-repeat: no repeat;
  background-attachment:fixed; 


-webkit-box-shadow: 0px 0px 30px 7px rgba(151,157,184,1);

-moz-box-shadow: 0px 0px 30px 7px rgba(151,157,184,1);

box-shadow: 0px 0px 30px 7px rgba(151,157,184,1);



}

.fondo_aula_virtual_2{
background: url(../imagenes/fondos/sbn_1.jpg) no-repeat center center fixed;

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
z-index:auto;

}

.fondo_aula_login{
background: url(../imagenes/fondos/sbn_1.jpg) no-repeat center center fixed;

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
z-index:auto;

}