#social-iconos {
	width:85%;
	height:20px;
	margin-bottom:10px;
	display:block;
	clear:both;}
	
.social-icons{
	
	display:table}
	
.social-icons ul {
	
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	text-align:right;
	padding:5px 5px 0 0}

.social-icons ul {
	
	padding:0;
	float:right;
	margin-bottom:0;}
	
.social-icons li.social_icon {
	
	background:none !important;padding-left:0 !important;
	display:inline;
	float:left;
	margin-left:6px;}

.social-icons li:hover {
	
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(-360deg);}