.carrusel{
height:65px;
overflow:hidden;
width:988px;
}

.bloque-imagenes{
padding:0;
width:988px;
}

.bloque-imagenes li{
list-style:none;
margin:0;
padding:0;
margin-bottom:12px;
display:inline;
float:left;
}

.bloque-imagenes li img{
height:45px;
width:122px;
border:0;
}

.bloque-imagenes a:hover img{
border:1px #fff solid;
}