@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?zfzfm4');
	src:url('fonts/icomoon.eot?#iefixzfzfm4') format('embedded-opentype'),
		url('fonts/icomoon.ttf?zfzfm4') format('truetype'),
		url('fonts/icomoon.woff?zfzfm4') format('woff'),
		url('fonts/icomoon.svg?zfzfm4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-add-to-list:before {
	content: "\e600";
}
.icon-classic-computer:before {
	content: "\e601";
}
.icon-controller-fast-backward:before {
	content: "\e602";
}
.icon-creative-commons-attribution:before {
	content: "\e603";
}
.icon-creative-commons-noderivs:before {
	content: "\e604";
}
.icon-creative-commons-noncommercial-eu:before {
	content: "\e605";
}
.icon-creative-commons-noncommercial-us:before {
	content: "\e606";
}
.icon-creative-commons-public-domain:before {
	content: "\e607";
}
.icon-creative-commons-remix:before {
	content: "\e608";
}
.icon-creative-commons-share:before {
	content: "\e609";
}
.icon-creative-commons-sharealike:before {
	content: "\e60a";
}
.icon-creative-commons:before {
	content: "\e60b";
}
.icon-document-landscape:before {
	content: "\e60c";
}
.icon-remove-user:before {
	content: "\e60d";
}
.icon-warning:before {
	content: "\e60e";
}
.icon-arrow-bold-down:before {
	content: "\e60f";
}
.icon-arrow-bold-left:before {
	content: "\e610";
}
.icon-arrow-bold-right:before {
	content: "\e611";
}
.icon-arrow-bold-up:before {
	content: "\e612";
}
.icon-arrow-down:before {
	content: "\e613";
}
.icon-arrow-left:before {
	content: "\e614";
}
.icon-arrow-long-down:before {
	content: "\e615";
}
.icon-arrow-long-left:before {
	content: "\e616";
}
.icon-arrow-long-right:before {
	content: "\e617";
}
.icon-arrow-long-up:before {
	content: "\e618";
}
.icon-arrow-right:before {
	content: "\e619";
}
.icon-arrow-up:before {
	content: "\e61a";
}
.icon-arrow-with-circle-down:before {
	content: "\e61b";
}
.icon-arrow-with-circle-left:before {
	content: "\e61c";
}
.icon-arrow-with-circle-right:before {
	content: "\e61d";
}
.icon-arrow-with-circle-up:before {
	content: "\e61e";
}
.icon-bookmark:before {
	content: "\e61f";
}
.icon-bookmarks:before {
	content: "\e620";
}
.icon-chevron-down:before {
	content: "\e621";
}
.icon-chevron-left:before {
	content: "\e622";
}
.icon-chevron-right:before {
	content: "\e623";
}
.icon-chevron-small-down:before {
	content: "\e624";
}
.icon-chevron-small-left:before {
	content: "\e625";
}
.icon-chevron-small-right:before {
	content: "\e626";
}
.icon-chevron-small-up:before {
	content: "\e627";
}
.icon-chevron-thin-down:before {
	content: "\e628";
}
.icon-chevron-thin-left:before {
	content: "\e629";
}
.icon-chevron-thin-right:before {
	content: "\e62a";
}
.icon-chevron-thin-up:before {
	content: "\e62b";
}
.icon-chevron-up:before {
	content: "\e62c";
}
.icon-chevron-with-circle-down:before {
	content: "\e62d";
}
.icon-chevron-with-circle-left:before {
	content: "\e62e";
}
.icon-chevron-with-circle-right:before {
	content: "\e62f";
}
.icon-chevron-with-circle-up:before {
	content: "\e630";
}
.icon-cloud:before {
	content: "\e631";
}
.icon-controller-fast-forward:before {
	content: "\e632";
}
.icon-controller-jump-to-start:before {
	content: "\e633";
}
.icon-controller-next:before {
	content: "\e634";
}
.icon-controller-paus:before {
	content: "\e635";
}
.icon-controller-play:before {
	content: "\e636";
}
.icon-controller-record:before {
	content: "\e637";
}
.icon-controller-stop:before {
	content: "\e638";
}
.icon-controller-volume:before {
	content: "\e639";
}
.icon-dot-single:before {
	content: "\e63a";
}
.icon-dots-three-horizontal:before {
	content: "\e63b";
}
.icon-dots-three-vertical:before {
	content: "\e63c";
}
.icon-dots-two-horizontal:before {
	content: "\e63d";
}
.icon-dots-two-vertical:before {
	content: "\e63e";
}
.icon-download:before {
	content: "\e63f";
}
.icon-emoji-flirt:before {
	content: "\e640";
}
.icon-flow-branch:before {
	content: "\e641";
}
.icon-flow-cascade:before {
	content: "\e642";
}
.icon-flow-line:before {
	content: "\e643";
}
.icon-flow-parallel:before {
	content: "\e644";
}
.icon-flow-tree:before {
	content: "\e645";
}
.icon-install:before {
	content: "\e646";
}
.icon-layers:before {
	content: "\e647";
}
.icon-open-book:before {
	content: "\e648";
}
.icon-resize-100:before {
	content: "\e649";
}
.icon-resize-full-screen:before {
	content: "\e64a";
}
.icon-save:before {
	content: "\e64b";
}
.icon-select-arrows:before {
	content: "\e64c";
}
.icon-sound-mute:before {
	content: "\e64d";
}
.icon-sound:before {
	content: "\e64e";
}
.icon-trash:before {
	content: "\e64f";
}
.icon-triangle-down:before {
	content: "\e650";
}
.icon-triangle-left:before {
	content: "\e651";
}
.icon-triangle-right:before {
	content: "\e652";
}
.icon-triangle-up:before {
	content: "\e653";
}
.icon-uninstall:before {
	content: "\e654";
}
.icon-upload-to-cloud:before {
	content: "\e655";
}
.icon-upload:before {
	content: "\e656";
}
.icon-add-user:before {
	content: "\e657";
}
.icon-address:before {
	content: "\e658";
}
.icon-adjust:before {
	content: "\e659";
}
.icon-air:before {
	content: "\e65a";
}
.icon-aircraft-landing:before {
	content: "\e65b";
}
.icon-aircraft-take-off:before {
	content: "\e65c";
}
.icon-aircraft:before {
	content: "\e65d";
}
.icon-align-bottom:before {
	content: "\e65e";
}
.icon-align-horizontal-middle:before {
	content: "\e65f";
}
.icon-align-left:before {
	content: "\e660";
}
.icon-align-right:before {
	content: "\e661";
}
.icon-align-top:before {
	content: "\e662";
}
.icon-align-vertical-middle:before {
	content: "\e663";
}
.icon-archive:before {
	content: "\e664";
}
.icon-area-graph:before {
	content: "\e665";
}
.icon-attachment:before {
	content: "\e666";
}
.icon-awareness-ribbon:before {
	content: "\e667";
}
.icon-back-in-time:before {
	content: "\e668";
}
.icon-back:before {
	content: "\e669";
}
.icon-bar-graph:before {
	content: "\e66a";
}
.icon-battery:before {
	content: "\e66b";
}
.icon-beamed-note:before {
	content: "\e66c";
}
.icon-bell:before {
	content: "\e66d";
}
.icon-blackboard:before {
	content: "\e66e";
}
.icon-block:before {
	content: "\e66f";
}
.icon-book:before {
	content: "\e670";
}
.icon-bowl:before {
	content: "\e671";
}
.icon-box:before {
	content: "\e672";
}
.icon-briefcase:before {
	content: "\e673";
}
.icon-browser:before {
	content: "\e674";
}
.icon-brush:before {
	content: "\e675";
}
.icon-bucket:before {
	content: "\e676";
}
.icon-cake:before {
	content: "\e677";
}
.icon-calculator:before {
	content: "\e678";
}
.icon-calendar:before {
	content: "\e679";
}
.icon-camera:before {
	content: "\e67a";
}
.icon-ccw:before {
	content: "\e67b";
}
.icon-chat:before {
	content: "\e67c";
}
.icon-check:before {
	content: "\e67d";
}
.icon-circle-with-cross:before {
	content: "\e67e";
}
.icon-circle-with-minus:before {
	content: "\e67f";
}
.icon-circle-with-plus:before {
	content: "\e680";
}
.icon-circle:before {
	content: "\e681";
}
.icon-circular-graph:before {
	content: "\e682";
}
.icon-clapperboard:before {
	content: "\e683";
}
.icon-clipboard:before {
	content: "\e684";
}
.icon-clock:before {
	content: "\e685";
}
.icon-code:before {
	content: "\e686";
}
.icon-cog:before {
	content: "\e687";
}
.icon-colours:before {
	content: "\e688";
}
.icon-compass:before {
	content: "\e689";
}
.icon-copy:before {
	content: "\e68a";
}
.icon-credit-card:before {
	content: "\e68b";
}
.icon-credit:before {
	content: "\e68c";
}
.icon-cross:before {
	content: "\e68d";
}
.icon-cup:before {
	content: "\e68e";
}
.icon-cw:before {
	content: "\e68f";
}
.icon-cycle:before {
	content: "\e690";
}
.icon-database:before {
	content: "\e691";
}
.icon-dial-pad:before {
	content: "\e692";
}
.icon-direction:before {
	content: "\e693";
}
.icon-document:before {
	content: "\e694";
}
.icon-documents:before {
	content: "\e695";
}
.icon-drink:before {
	content: "\e696";
}
.icon-drive:before {
	content: "\e697";
}
.icon-drop:before {
	content: "\e698";
}
.icon-edit:before {
	content: "\e699";
}
.icon-email:before {
	content: "\e69a";
}
.icon-emoji-happy:before {
	content: "\e69b";
}
.icon-emoji-neutral:before {
	content: "\e69c";
}
.icon-emoji-sad:before {
	content: "\e69d";
}
.icon-erase:before {
	content: "\e69e";
}
.icon-eraser:before {
	content: "\e69f";
}
.icon-export:before {
	content: "\e6a0";
}
.icon-eye:before {
	content: "\e6a1";
}
.icon-feather:before {
	content: "\e6a2";
}
.icon-flag:before {
	content: "\e6a3";
}
.icon-flash:before {
	content: "\e6a4";
}
.icon-flashlight:before {
	content: "\e6a5";
}
.icon-flat-brush:before {
	content: "\e6a6";
}
.icon-folder-images:before {
	content: "\e6a7";
}
.icon-folder-music:before {
	content: "\e6a8";
}
.icon-folder-video:before {
	content: "\e6a9";
}
.icon-folder:before {
	content: "\e6aa";
}
.icon-forward:before {
	content: "\e6ab";
}
.icon-funnel:before {
	content: "\e6ac";
}
.icon-game-controller:before {
	content: "\e6ad";
}
.icon-gauge:before {
	content: "\e6ae";
}
.icon-globe:before {
	content: "\e6af";
}
.icon-graduation-cap:before {
	content: "\e6b0";
}
.icon-grid:before {
	content: "\e6b1";
}
.icon-hair-cross:before {
	content: "\e6b2";
}
.icon-hand:before {
	content: "\e6b3";
}
.icon-heart-outlined:before {
	content: "\e6b4";
}
.icon-heart:before {
	content: "\e6b5";
}
.icon-help-with-circle:before {
	content: "\e6b6";
}
.icon-help:before {
	content: "\e6b7";
}
.icon-home:before {
	content: "\e6b8";
}
.icon-hour-glass:before {
	content: "\e6b9";
}
.icon-image-inverted:before {
	content: "\e6ba";
}
.icon-image:before {
	content: "\e6bb";
}
.icon-images:before {
	content: "\e6bc";
}
.icon-inbox:before {
	content: "\e6bd";
}
.icon-infinity:before {
	content: "\e6be";
}
.icon-info-with-circle:before {
	content: "\e6bf";
}
.icon-info:before {
	content: "\e6c0";
}
.icon-key:before {
	content: "\e6c1";
}
.icon-keyboard:before {
	content: "\e6c2";
}
.icon-lab-flask:before {
	content: "\e6c3";
}
.icon-landline:before {
	content: "\e6c4";
}
.icon-language:before {
	content: "\e6c5";
}
.icon-laptop:before {
	content: "\e6c6";
}
.icon-leaf:before {
	content: "\e6c7";
}
.icon-level-down:before {
	content: "\e6c8";
}
.icon-level-up:before {
	content: "\e6c9";
}
.icon-lifebuoy:before {
	content: "\e6ca";
}
.icon-light-bulb:before {
	content: "\e6cb";
}
.icon-light-down:before {
	content: "\e6cc";
}
.icon-light-up:before {
	content: "\e6cd";
}
.icon-line-graph:before {
	content: "\e6ce";
}
.icon-link:before {
	content: "\e6cf";
}
.icon-list:before {
	content: "\e6d0";
}
.icon-location-pin:before {
	content: "\e6d1";
}
.icon-location:before {
	content: "\e6d2";
}
.icon-lock-open:before {
	content: "\e6d3";
}
.icon-lock:before {
	content: "\e6d4";
}
.icon-log-out:before {
	content: "\e6d5";
}
.icon-login:before {
	content: "\e6d6";
}
.icon-loop:before {
	content: "\e6d7";
}
.icon-magnet:before {
	content: "\e6d8";
}
.icon-magnifying-glass:before {
	content: "\e6d9";
}
.icon-mail:before {
	content: "\e6da";
}
.icon-man:before {
	content: "\e6db";
}
.icon-map:before {
	content: "\e6dc";
}
.icon-mask:before {
	content: "\e6dd";
}
.icon-medal:before {
	content: "\e6de";
}
.icon-megaphone:before {
	content: "\e6df";
}
.icon-menu:before {
	content: "\e6e0";
}
.icon-message:before {
	content: "\e6e1";
}
.icon-mic:before {
	content: "\e6e2";
}
.icon-minus:before {
	content: "\e6e3";
}
.icon-mobile:before {
	content: "\e6e4";
}
.icon-modern-mic:before {
	content: "\e6e5";
}
.icon-moon:before {
	content: "\e6e6";
}
.icon-mouse:before {
	content: "\e6e7";
}
.icon-music:before {
	content: "\e6e8";
}
.icon-network:before {
	content: "\e6e9";
}
.icon-new-message:before {
	content: "\e6ea";
}
.icon-new:before {
	content: "\e6eb";
}
.icon-news:before {
	content: "\e6ec";
}
.icon-note:before {
	content: "\e6ed";
}
.icon-notification:before {
	content: "\e6ee";
}
.icon-old-mobile:before {
	content: "\e6ef";
}
.icon-old-phone:before {
	content: "\e6f0";
}
.icon-palette:before {
	content: "\e6f1";
}
.icon-paper-plane:before {
	content: "\e6f2";
}
.icon-pencil:before {
	content: "\e6f3";
}
.icon-phone:before {
	content: "\e6f4";
}
.icon-pie-chart:before {
	content: "\e6f5";
}
.icon-pin:before {
	content: "\e6f6";
}
.icon-plus:before {
	content: "\e6f7";
}
.icon-popup:before {
	content: "\e6f8";
}
.icon-power-plug:before {
	content: "\e6f9";
}
.icon-price-ribbon:before {
	content: "\e6fa";
}
.icon-price-tag:before {
	content: "\e6fb";
}
.icon-print:before {
	content: "\e6fc";
}
.icon-progress-empty:before {
	content: "\e6fd";
}
.icon-progress-full:before {
	content: "\e6fe";
}
.icon-progress-one:before {
	content: "\e6ff";
}
.icon-progress-two:before {
	content: "\e700";
}
.icon-publish:before {
	content: "\e701";
}
.icon-quote:before {
	content: "\e702";
}
.icon-radio:before {
	content: "\e703";
}
.icon-reply-all:before {
	content: "\e704";
}
.icon-reply:before {
	content: "\e705";
}
.icon-retweet:before {
	content: "\e706";
}
.icon-rocket:before {
	content: "\e707";
}
.icon-round-brush:before {
	content: "\e708";
}
.icon-rss:before {
	content: "\e709";
}
.icon-ruler:before {
	content: "\e70a";
}
.icon-scissors:before {
	content: "\e70b";
}
.icon-share-alternitive:before {
	content: "\e70c";
}
.icon-share:before {
	content: "\e70d";
}
.icon-shareable:before {
	content: "\e70e";
}
.icon-shield:before {
	content: "\e70f";
}
.icon-shop:before {
	content: "\e710";
}
.icon-shopping-bag:before {
	content: "\e711";
}
.icon-shopping-basket:before {
	content: "\e712";
}
.icon-shopping-cart:before {
	content: "\e713";
}
.icon-shuffle:before {
	content: "\e714";
}
.icon-signal:before {
	content: "\e715";
}
.icon-sound-mix:before {
	content: "\e716";
}
.icon-sports-club:before {
	content: "\e717";
}
.icon-spreadsheet:before {
	content: "\e718";
}
.icon-squared-cross:before {
	content: "\e719";
}
.icon-squared-minus:before {
	content: "\e71a";
}
.icon-squared-plus:before {
	content: "\e71b";
}
.icon-star-outlined:before {
	content: "\e71c";
}
.icon-star:before {
	content: "\e71d";
}
.icon-stopwatch:before {
	content: "\e71e";
}
.icon-suitcase:before {
	content: "\e71f";
}
.icon-swap:before {
	content: "\e720";
}
.icon-sweden:before {
	content: "\e721";
}
.icon-switch:before {
	content: "\e722";
}
.icon-tablet:before {
	content: "\e723";
}
.icon-tag:before {
	content: "\e724";
}
.icon-text-document-inverted:before {
	content: "\e725";
}
.icon-text-document:before {
	content: "\e726";
}
.icon-text:before {
	content: "\e727";
}
.icon-thermometer:before {
	content: "\e728";
}
.icon-thumbs-down:before {
	content: "\e729";
}
.icon-thumbs-up:before {
	content: "\e72a";
}
.icon-thunder-cloud:before {
	content: "\e72b";
}
.icon-ticket:before {
	content: "\e72c";
}
.icon-time-slot:before {
	content: "\e72d";
}
.icon-tools:before {
	content: "\e72e";
}
.icon-traffic-cone:before {
	content: "\e72f";
}
.icon-tree:before {
	content: "\e730";
}
.icon-trophy:before {
	content: "\e731";
}
.icon-tv:before {
	content: "\e732";
}
.icon-typing:before {
	content: "\e733";
}
.icon-unread:before {
	content: "\e734";
}
.icon-untag:before {
	content: "\e735";
}
.icon-user:before {
	content: "\e736";
}
.icon-users:before {
	content: "\e737";
}
.icon-v-card:before {
	content: "\e738";
}
.icon-video:before {
	content: "\e739";
}
.icon-vinyl:before {
	content: "\e73a";
}
.icon-voicemail:before {
	content: "\e73b";
}
.icon-wallet:before {
	content: "\e73c";
}
.icon-water:before {
	content: "\e73d";
}
.icon-500px-with-circle:before {
	content: "\e73e";
}
.icon-500px:before {
	content: "\e73f";
}
.icon-basecamp:before {
	content: "\e740";
}
.icon-behance:before {
	content: "\e741";
}
.icon-creative-cloud:before {
	content: "\e742";
}
.icon-dropbox:before {
	content: "\e743";
}
.icon-evernote:before {
	content: "\e744";
}
.icon-flattr:before {
	content: "\e745";
}
.icon-foursquare:before {
	content: "\e746";
}
.icon-google-drive:before {
	content: "\e747";
}
.icon-google-hangouts:before {
	content: "\e748";
}
.icon-grooveshark:before {
	content: "\e749";
}
.icon-icloud:before {
	content: "\e74a";
}
.icon-mixi:before {
	content: "\e74b";
}
.icon-onedrive:before {
	content: "\e74c";
}
.icon-paypal:before {
	content: "\e74d";
}
.icon-picasa:before {
	content: "\e74e";
}
.icon-qq:before {
	content: "\e74f";
}
.icon-rdio-with-circle:before {
	content: "\e750";
}
.icon-renren:before {
	content: "\e751";
}
.icon-scribd:before {
	content: "\e752";
}
.icon-sina-weibo:before {
	content: "\e753";
}
.icon-skype-with-circle:before {
	content: "\e754";
}
.icon-skype:before {
	content: "\e755";
}
.icon-slideshare:before {
	content: "\e756";
}
.icon-smashing:before {
	content: "\e757";
}
.icon-soundcloud:before {
	content: "\e758";
}
.icon-spotify-with-circle:before {
	content: "\e759";
}
.icon-spotify:before {
	content: "\e75a";
}
.icon-swarm:before {
	content: "\e75b";
}
.icon-vine-with-circle:before {
	content: "\e75c";
}
.icon-vine:before {
	content: "\e75d";
}
.icon-vk-alternitive:before {
	content: "\e75e";
}
.icon-vk-with-circle:before {
	content: "\e75f";
}
.icon-vk:before {
	content: "\e760";
}
.icon-xing-with-circle:before {
	content: "\e761";
}
.icon-xing:before {
	content: "\e762";
}
.icon-yelp:before {
	content: "\e763";
}
.icon-dribbble-with-circle:before {
	content: "\e764";
}
.icon-dribbble:before {
	content: "\e765";
}
.icon-facebook-with-circle:before {
	content: "\e766";
}
.icon-facebook:before {
	content: "\e767";
}
.icon-flickr-with-circle:before {
	content: "\e768";
}
.icon-flickr:before {
	content: "\e769";
}
.icon-github-with-circle:before {
	content: "\e76a";
}
.icon-github:before {
	content: "\e76b";
}
.icon-google-with-circle:before {
	content: "\e76c";
}
.icon-google:before {
	content: "\e76d";
}
.icon-instagram-with-circle:before {
	content: "\e76e";
}
.icon-instagram:before {
	content: "\e76f";
}
.icon-lastfm-with-circle:before {
	content: "\e770";
}
.icon-lastfm:before {
	content: "\e771";
}
.icon-linkedin-with-circle:before {
	content: "\e772";
}
.icon-linkedin:before {
	content: "\e773";
}
.icon-pinterest-with-circle:before {
	content: "\e774";
}
.icon-pinterest:before {
	content: "\e775";
}
.icon-rdio:before {
	content: "\e776";
}
.icon-stumbleupon-with-circle:before {
	content: "\e777";
}
.icon-stumbleupon:before {
	content: "\e778";
}
.icon-tumblr-with-circle:before {
	content: "\e779";
}
.icon-tumblr:before {
	content: "\e77a";
}
.icon-twitter-with-circle:before {
	content: "\e77b";
}
.icon-twitter:before {
	content: "\e77c";
}
.icon-vimeo-with-circle:before {
	content: "\e77d";
}
.icon-vimeo:before {
	content: "\e77e";
}
.icon-youtube-with-circle:before {
	content: "\e77f";
}
.icon-youtube:before {
	content: "\e780";
}
.icon-home4:before {
	content: "\e900";
}
.icon-home2:before {
	content: "\e901";
}
.icon-home3:before {
	content: "\e902";
}
.icon-office:before {
	content: "\e903";
}
.icon-newspaper:before {
	content: "\e904";
}
.icon-pencil3:before {
	content: "\e905";
}
.icon-pencil2:before {
	content: "\e906";
}
.icon-quill:before {
	content: "\e907";
}
.icon-pen:before {
	content: "\e908";
}
.icon-blog:before {
	content: "\e909";
}
.icon-eyedropper:before {
	content: "\e90a";
}
.icon-droplet:before {
	content: "\e90b";
}
.icon-paint-format:before {
	content: "\e90c";
}
.icon-image2:before {
	content: "\e90d";
}
.icon-images2:before {
	content: "\e90e";
}
.icon-camera2:before {
	content: "\e90f";
}
.icon-headphones:before {
	content: "\e910";
}
.icon-music2:before {
	content: "\e911";
}
.icon-play:before {
	content: "\e912";
}
.icon-film:before {
	content: "\e913";
}
.icon-video-camera:before {
	content: "\e914";
}
.icon-dice:before {
	content: "\e915";
}
.icon-pacman:before {
	content: "\e916";
}
.icon-spades:before {
	content: "\e917";
}
.icon-clubs:before {
	content: "\e918";
}
.icon-diamonds:before {
	content: "\e919";
}
.icon-bullhorn:before {
	content: "\e91a";
}
.icon-connection:before {
	content: "\e91b";
}
.icon-podcast:before {
	content: "\e91c";
}
.icon-feed:before {
	content: "\e91d";
}
.icon-mic2:before {
	content: "\e91e";
}
.icon-book2:before {
	content: "\e91f";
}
.icon-books:before {
	content: "\e920";
}
.icon-library:before {
	content: "\e921";
}
.icon-file-text:before {
	content: "\e922";
}
.icon-profile:before {
	content: "\e923";
}
.icon-file-empty:before {
	content: "\e924";
}
.icon-files-empty:before {
	content: "\e925";
}
.icon-file-text2:before {
	content: "\e926";
}
.icon-file-picture:before {
	content: "\e927";
}
.icon-file-music:before {
	content: "\e928";
}
.icon-file-play:before {
	content: "\e929";
}
.icon-file-video:before {
	content: "\e92a";
}
.icon-file-zip:before {
	content: "\e92b";
}
.icon-copy2:before {
	content: "\e92c";
}
.icon-paste:before {
	content: "\e92d";
}
.icon-stack:before {
	content: "\e92e";
}
.icon-folder2:before {
	content: "\e92f";
}
.icon-folder-open:before {
	content: "\e930";
}
.icon-folder-plus:before {
	content: "\e931";
}
.icon-folder-minus:before {
	content: "\e932";
}
.icon-folder-download:before {
	content: "\e933";
}
.icon-folder-upload:before {
	content: "\e934";
}
.icon-price-tag2:before {
	content: "\e935";
}
.icon-price-tags:before {
	content: "\e936";
}
.icon-barcode:before {
	content: "\e937";
}
.icon-qrcode:before {
	content: "\e938";
}
.icon-ticket2:before {
	content: "\e939";
}
.icon-cart:before {
	content: "\e93a";
}
.icon-coin-dollar:before {
	content: "\e93b";
}
.icon-coin-euro:before {
	content: "\e93c";
}
.icon-coin-pound:before {
	content: "\e93d";
}
.icon-coin-yen:before {
	content: "\e93e";
}
.icon-credit-card2:before {
	content: "\e93f";
}
.icon-calculator2:before {
	content: "\e940";
}
.icon-lifebuoy2:before {
	content: "\e941";
}
.icon-phone2:before {
	content: "\e942";
}
.icon-phone-hang-up:before {
	content: "\e943";
}
.icon-address-book:before {
	content: "\e944";
}
.icon-envelop:before {
	content: "\e945";
}
.icon-pushpin:before {
	content: "\e946";
}
.icon-location3:before {
	content: "\e947";
}
.icon-location2:before {
	content: "\e948";
}
.icon-compass3:before {
	content: "\e949";
}
.icon-compass2:before {
	content: "\e94a";
}
.icon-map3:before {
	content: "\e94b";
}
.icon-map2:before {
	content: "\e94c";
}
.icon-history:before {
	content: "\e94d";
}
.icon-clock3:before {
	content: "\e94e";
}
.icon-clock2:before {
	content: "\e94f";
}
.icon-alarm:before {
	content: "\e950";
}
.icon-bell2:before {
	content: "\e951";
}
.icon-stopwatch2:before {
	content: "\e952";
}
.icon-calendar2:before {
	content: "\e953";
}
.icon-printer:before {
	content: "\e954";
}
.icon-keyboard2:before {
	content: "\e955";
}
.icon-display:before {
	content: "\e956";
}
.icon-laptop2:before {
	content: "\e957";
}
.icon-mobile3:before {
	content: "\e958";
}
.icon-mobile2:before {
	content: "\e959";
}
.icon-tablet2:before {
	content: "\e95a";
}
.icon-tv2:before {
	content: "\e95b";
}
.icon-drawer:before {
	content: "\e95c";
}
.icon-drawer2:before {
	content: "\e95d";
}
.icon-box-add:before {
	content: "\e95e";
}
.icon-box-remove:before {
	content: "\e95f";
}
.icon-download4:before {
	content: "\e960";
}
.icon-upload4:before {
	content: "\e961";
}
.icon-floppy-disk:before {
	content: "\e962";
}
.icon-drive2:before {
	content: "\e963";
}
.icon-database2:before {
	content: "\e964";
}
.icon-undo:before {
	content: "\e965";
}
.icon-redo:before {
	content: "\e966";
}
.icon-undo2:before {
	content: "\e967";
}
.icon-redo2:before {
	content: "\e968";
}
.icon-forward4:before {
	content: "\e969";
}
.icon-reply2:before {
	content: "\e96a";
}
.icon-bubble:before {
	content: "\e96b";
}
.icon-bubbles:before {
	content: "\e96c";
}
.icon-bubbles2:before {
	content: "\e96d";
}
.icon-bubble2:before {
	content: "\e96e";
}
.icon-bubbles3:before {
	content: "\e96f";
}
.icon-bubbles4:before {
	content: "\e970";
}
.icon-user2:before {
	content: "\e971";
}
.icon-users2:before {
	content: "\e972";
}
.icon-user-plus:before {
	content: "\e973";
}
.icon-user-minus:before {
	content: "\e974";
}
.icon-user-check:before {
	content: "\e975";
}
.icon-user-tie:before {
	content: "\e976";
}
.icon-quotes-left:before {
	content: "\e977";
}
.icon-quotes-right:before {
	content: "\e978";
}
.icon-hour-glass2:before {
	content: "\e979";
}
.icon-spinner:before {
	content: "\e97a";
}
.icon-spinner2:before {
	content: "\e97b";
}
.icon-spinner3:before {
	content: "\e97c";
}
.icon-spinner4:before {
	content: "\e97d";
}
.icon-spinner5:before {
	content: "\e97e";
}
.icon-spinner6:before {
	content: "\e97f";
}
.icon-spinner7:before {
	content: "\e980";
}
.icon-spinner8:before {
	content: "\e981";
}
.icon-spinner9:before {
	content: "\e982";
}
.icon-spinner10:before {
	content: "\e983";
}
.icon-spinner11:before {
	content: "\e984";
}
.icon-binoculars:before {
	content: "\e985";
}
.icon-search:before {
	content: "\e986";
}
.icon-zoom-in:before {
	content: "\e987";
}
.icon-zoom-out:before {
	content: "\e988";
}
.icon-enlarge:before {
	content: "\e989";
}
.icon-shrink:before {
	content: "\e98a";
}
.icon-enlarge2:before {
	content: "\e98b";
}
.icon-shrink2:before {
	content: "\e98c";
}
.icon-key3:before {
	content: "\e98d";
}
.icon-key2:before {
	content: "\e98e";
}
.icon-lock2:before {
	content: "\e98f";
}
.icon-unlocked:before {
	content: "\e990";
}
.icon-wrench:before {
	content: "\e991";
}
.icon-equalizer:before {
	content: "\e992";
}
.icon-equalizer2:before {
	content: "\e993";
}
.icon-cog2:before {
	content: "\e994";
}
.icon-cogs:before {
	content: "\e995";
}
.icon-hammer:before {
	content: "\e996";
}
.icon-magic-wand:before {
	content: "\e997";
}
.icon-aid-kit:before {
	content: "\e998";
}
.icon-bug:before {
	content: "\e999";
}
.icon-pie-chart2:before {
	content: "\e99a";
}
.icon-stats-dots:before {
	content: "\e99b";
}
.icon-stats-bars:before {
	content: "\e99c";
}
.icon-stats-bars2:before {
	content: "\e99d";
}
.icon-trophy2:before {
	content: "\e99e";
}
.icon-gift:before {
	content: "\e99f";
}
.icon-glass:before {
	content: "\e9a0";
}
.icon-glass2:before {
	content: "\e9a1";
}
.icon-mug:before {
	content: "\e9a2";
}
.icon-spoon-knife:before {
	content: "\e9a3";
}
.icon-leaf2:before {
	content: "\e9a4";
}
.icon-rocket2:before {
	content: "\e9a5";
}
.icon-meter:before {
	content: "\e9a6";
}
.icon-meter2:before {
	content: "\e9a7";
}
.icon-hammer2:before {
	content: "\e9a8";
}
.icon-fire:before {
	content: "\e9a9";
}
.icon-lab:before {
	content: "\e9aa";
}
.icon-magnet2:before {
	content: "\e9ab";
}
.icon-bin:before {
	content: "\e9ac";
}
.icon-bin2:before {
	content: "\e9ad";
}
.icon-briefcase2:before {
	content: "\e9ae";
}
.icon-airplane:before {
	content: "\e9af";
}
.icon-truck:before {
	content: "\e9b0";
}
.icon-road:before {
	content: "\e9b1";
}
.icon-accessibility:before {
	content: "\e9b2";
}
.icon-target:before {
	content: "\e9b3";
}
.icon-shield2:before {
	content: "\e9b4";
}
.icon-power:before {
	content: "\e9b5";
}
.icon-switch2:before {
	content: "\e9b6";
}
.icon-power-cord:before {
	content: "\e9b7";
}
.icon-clipboard2:before {
	content: "\e9b8";
}
.icon-list-numbered:before {
	content: "\e9b9";
}
.icon-list3:before {
	content: "\e9ba";
}
.icon-list2:before {
	content: "\e9bb";
}
.icon-tree2:before {
	content: "\e9bc";
}
.icon-menu5:before {
	content: "\e9bd";
}
.icon-menu2:before {
	content: "\e9be";
}
.icon-menu3:before {
	content: "\e9bf";
}
.icon-menu4:before {
	content: "\e9c0";
}
.icon-cloud2:before {
	content: "\e9c1";
}
.icon-cloud-download:before {
	content: "\e9c2";
}
.icon-cloud-upload:before {
	content: "\e9c3";
}
.icon-cloud-check:before {
	content: "\e9c4";
}
.icon-download2:before {
	content: "\e9c5";
}
.icon-upload2:before {
	content: "\e9c6";
}
.icon-download3:before {
	content: "\e9c7";
}
.icon-upload3:before {
	content: "\e9c8";
}
.icon-sphere:before {
	content: "\e9c9";
}
.icon-earth:before {
	content: "\e9ca";
}
.icon-link2:before {
	content: "\e9cb";
}
.icon-flag2:before {
	content: "\e9cc";
}
.icon-attachment2:before {
	content: "\e9cd";
}
.icon-eye2:before {
	content: "\e9ce";
}
.icon-eye-plus:before {
	content: "\e9cf";
}
.icon-eye-minus:before {
	content: "\e9d0";
}
.icon-eye-blocked:before {
	content: "\e9d1";
}
.icon-bookmark2:before {
	content: "\e9d2";
}
.icon-bookmarks2:before {
	content: "\e9d3";
}
.icon-sun:before {
	content: "\e9d4";
}
.icon-contrast:before {
	content: "\e9d5";
}
.icon-brightness-contrast:before {
	content: "\e9d6";
}
.icon-star-empty:before {
	content: "\e9d7";
}
.icon-star-half:before {
	content: "\e9d8";
}
.icon-star-full:before {
	content: "\e9d9";
}
.icon-heart2:before {
	content: "\e9da";
}
.icon-heart-broken:before {
	content: "\e9db";
}
.icon-man2:before {
	content: "\e9dc";
}
.icon-woman:before {
	content: "\e9dd";
}
.icon-man-woman:before {
	content: "\e9de";
}
.icon-happy:before {
	content: "\e9df";
}
.icon-happy2:before {
	content: "\e9e0";
}
.icon-smile:before {
	content: "\e9e1";
}
.icon-smile2:before {
	content: "\e9e2";
}
.icon-tongue:before {
	content: "\e9e3";
}
.icon-tongue2:before {
	content: "\e9e4";
}
.icon-sad:before {
	content: "\e9e5";
}
.icon-sad2:before {
	content: "\e9e6";
}
.icon-wink:before {
	content: "\e9e7";
}
.icon-wink2:before {
	content: "\e9e8";
}
.icon-grin:before {
	content: "\e9e9";
}
.icon-grin2:before {
	content: "\e9ea";
}
.icon-cool:before {
	content: "\e9eb";
}
.icon-cool2:before {
	content: "\e9ec";
}
.icon-angry:before {
	content: "\e9ed";
}
.icon-angry2:before {
	content: "\e9ee";
}
.icon-evil:before {
	content: "\e9ef";
}
.icon-evil2:before {
	content: "\e9f0";
}
.icon-shocked:before {
	content: "\e9f1";
}
.icon-shocked2:before {
	content: "\e9f2";
}
.icon-baffled:before {
	content: "\e9f3";
}
.icon-baffled2:before {
	content: "\e9f4";
}
.icon-confused:before {
	content: "\e9f5";
}
.icon-confused2:before {
	content: "\e9f6";
}
.icon-neutral:before {
	content: "\e9f7";
}
.icon-neutral2:before {
	content: "\e9f8";
}
.icon-hipster:before {
	content: "\e9f9";
}
.icon-hipster2:before {
	content: "\e9fa";
}
.icon-wondering:before {
	content: "\e9fb";
}
.icon-wondering2:before {
	content: "\e9fc";
}
.icon-sleepy:before {
	content: "\e9fd";
}
.icon-sleepy2:before {
	content: "\e9fe";
}
.icon-frustrated:before {
	content: "\e9ff";
}
.icon-frustrated2:before {
	content: "\ea00";
}
.icon-crying:before {
	content: "\ea01";
}
.icon-crying2:before {
	content: "\ea02";
}
.icon-point-up:before {
	content: "\ea03";
}
.icon-point-right:before {
	content: "\ea04";
}
.icon-point-down:before {
	content: "\ea05";
}
.icon-point-left:before {
	content: "\ea06";
}
.icon-warning2:before {
	content: "\ea07";
}
.icon-notification2:before {
	content: "\ea08";
}
.icon-question:before {
	content: "\ea09";
}
.icon-plus2:before {
	content: "\ea0a";
}
.icon-minus2:before {
	content: "\ea0b";
}
.icon-info2:before {
	content: "\ea0c";
}
.icon-cancel-circle:before {
	content: "\ea0d";
}
.icon-blocked:before {
	content: "\ea0e";
}
.icon-cross2:before {
	content: "\ea0f";
}
.icon-checkmark:before {
	content: "\ea10";
}
.icon-checkmark2:before {
	content: "\ea11";
}
.icon-spell-check:before {
	content: "\ea12";
}
.icon-enter:before {
	content: "\ea13";
}
.icon-exit:before {
	content: "\ea14";
}
.icon-play2:before {
	content: "\ea15";
}
.icon-pause:before {
	content: "\ea16";
}
.icon-stop:before {
	content: "\ea17";
}
.icon-previous:before {
	content: "\ea18";
}
.icon-next:before {
	content: "\ea19";
}
.icon-backward:before {
	content: "\ea1a";
}
.icon-forward2:before {
	content: "\ea1b";
}
.icon-play3:before {
	content: "\ea1c";
}
.icon-pause2:before {
	content: "\ea1d";
}
.icon-stop2:before {
	content: "\ea1e";
}
.icon-backward2:before {
	content: "\ea1f";
}
.icon-forward3:before {
	content: "\ea20";
}
.icon-first:before {
	content: "\ea21";
}
.icon-last:before {
	content: "\ea22";
}
.icon-previous2:before {
	content: "\ea23";
}
.icon-next2:before {
	content: "\ea24";
}
.icon-eject:before {
	content: "\ea25";
}
.icon-volume-high:before {
	content: "\ea26";
}
.icon-volume-medium:before {
	content: "\ea27";
}
.icon-volume-low:before {
	content: "\ea28";
}
.icon-volume-mute:before {
	content: "\ea29";
}
.icon-volume-mute2:before {
	content: "\ea2a";
}
.icon-volume-increase:before {
	content: "\ea2b";
}
.icon-volume-decrease:before {
	content: "\ea2c";
}
.icon-loop3:before {
	content: "\ea2d";
}
.icon-loop2:before {
	content: "\ea2e";
}
.icon-infinite:before {
	content: "\ea2f";
}
.icon-shuffle2:before {
	content: "\ea30";
}
.icon-arrow-up-left:before {
	content: "\ea31";
}
.icon-arrow-up3:before {
	content: "\ea32";
}
.icon-arrow-up-right:before {
	content: "\ea33";
}
.icon-arrow-right3:before {
	content: "\ea34";
}
.icon-arrow-down-right:before {
	content: "\ea35";
}
.icon-arrow-down3:before {
	content: "\ea36";
}
.icon-arrow-down-left:before {
	content: "\ea37";
}
.icon-arrow-left3:before {
	content: "\ea38";
}
.icon-arrow-up-left2:before {
	content: "\ea39";
}
.icon-arrow-up2:before {
	content: "\ea3a";
}
.icon-arrow-up-right2:before {
	content: "\ea3b";
}
.icon-arrow-right2:before {
	content: "\ea3c";
}
.icon-arrow-down-right2:before {
	content: "\ea3d";
}
.icon-arrow-down2:before {
	content: "\ea3e";
}
.icon-arrow-down-left2:before {
	content: "\ea3f";
}
.icon-arrow-left2:before {
	content: "\ea40";
}
.icon-circle-up:before {
	content: "\ea41";
}
.icon-circle-right:before {
	content: "\ea42";
}
.icon-circle-down:before {
	content: "\ea43";
}
.icon-circle-left:before {
	content: "\ea44";
}
.icon-tab:before {
	content: "\ea45";
}
.icon-move-up:before {
	content: "\ea46";
}
.icon-move-down:before {
	content: "\ea47";
}
.icon-sort-alpha-asc:before {
	content: "\ea48";
}
.icon-sort-alpha-desc:before {
	content: "\ea49";
}
.icon-sort-numeric-asc:before {
	content: "\ea4a";
}
.icon-sort-numberic-desc:before {
	content: "\ea4b";
}
.icon-sort-amount-asc:before {
	content: "\ea4c";
}
.icon-sort-amount-desc:before {
	content: "\ea4d";
}
.icon-command:before {
	content: "\ea4e";
}
.icon-shift:before {
	content: "\ea4f";
}
.icon-ctrl:before {
	content: "\ea50";
}
.icon-opt:before {
	content: "\ea51";
}
.icon-checkbox-checked:before {
	content: "\ea52";
}
.icon-checkbox-unchecked:before {
	content: "\ea53";
}
.icon-radio-checked:before {
	content: "\ea54";
}
.icon-radio-checked2:before {
	content: "\ea55";
}
.icon-radio-unchecked:before {
	content: "\ea56";
}
.icon-crop:before {
	content: "\ea57";
}
.icon-make-group:before {
	content: "\ea58";
}
.icon-ungroup:before {
	content: "\ea59";
}
.icon-scissors2:before {
	content: "\ea5a";
}
.icon-filter:before {
	content: "\ea5b";
}
.icon-font:before {
	content: "\ea5c";
}
.icon-ligature:before {
	content: "\ea5d";
}
.icon-ligature2:before {
	content: "\ea5e";
}
.icon-text-height:before {
	content: "\ea5f";
}
.icon-text-width:before {
	content: "\ea60";
}
.icon-font-size:before {
	content: "\ea61";
}
.icon-bold:before {
	content: "\ea62";
}
.icon-underline:before {
	content: "\ea63";
}
.icon-italic:before {
	content: "\ea64";
}
.icon-strikethrough:before {
	content: "\ea65";
}
.icon-omega:before {
	content: "\ea66";
}
.icon-sigma:before {
	content: "\ea67";
}
.icon-page-break:before {
	content: "\ea68";
}
.icon-superscript:before {
	content: "\ea69";
}
.icon-subscript:before {
	content: "\ea6a";
}
.icon-superscript2:before {
	content: "\ea6b";
}
.icon-subscript2:before {
	content: "\ea6c";
}
.icon-text-color:before {
	content: "\ea6d";
}
.icon-pagebreak:before {
	content: "\ea6e";
}
.icon-clear-formatting:before {
	content: "\ea6f";
}
.icon-table:before {
	content: "\ea70";
}
.icon-table2:before {
	content: "\ea71";
}
.icon-insert-template:before {
	content: "\ea72";
}
.icon-pilcrow:before {
	content: "\ea73";
}
.icon-ltr:before {
	content: "\ea74";
}
.icon-rtl:before {
	content: "\ea75";
}
.icon-section:before {
	content: "\ea76";
}
.icon-paragraph-left:before {
	content: "\ea77";
}
.icon-paragraph-center:before {
	content: "\ea78";
}
.icon-paragraph-right:before {
	content: "\ea79";
}
.icon-paragraph-justify:before {
	content: "\ea7a";
}
.icon-indent-increase:before {
	content: "\ea7b";
}
.icon-indent-decrease:before {
	content: "\ea7c";
}
.icon-share3:before {
	content: "\ea7d";
}
.icon-new-tab:before {
	content: "\ea7e";
}
.icon-embed:before {
	content: "\ea7f";
}
.icon-embed2:before {
	content: "\ea80";
}
.icon-terminal:before {
	content: "\ea81";
}
.icon-share2:before {
	content: "\ea82";
}
.icon-mail5:before {
	content: "\ea83";
}
.icon-mail2:before {
	content: "\ea84";
}
.icon-mail3:before {
	content: "\ea85";
}
.icon-mail4:before {
	content: "\ea86";
}
.icon-google2:before {
	content: "\ea87";
}
.icon-google-plus:before {
	content: "\ea88";
}
.icon-google-plus2:before {
	content: "\ea89";
}
.icon-google-plus3:before {
	content: "\ea8a";
}
.icon-google-drive2:before {
	content: "\ea8b";
}
.icon-facebook4:before {
	content: "\ea8c";
}
.icon-facebook2:before {
	content: "\ea8d";
}
.icon-facebook3:before {
	content: "\ea8e";
}
.icon-ello:before {
	content: "\ea8f";
}
.icon-instagram2:before {
	content: "\ea90";
}
.icon-twitter4:before {
	content: "\ea91";
}
.icon-twitter2:before {
	content: "\ea92";
}
.icon-twitter3:before {
	content: "\ea93";
}
.icon-feed2:before {
	content: "\ea94";
}
.icon-feed3:before {
	content: "\ea95";
}
.icon-feed4:before {
	content: "\ea96";
}
.icon-youtube5:before {
	content: "\ea97";
}
.icon-youtube2:before {
	content: "\ea98";
}
.icon-youtube3:before {
	content: "\ea99";
}
.icon-youtube4:before {
	content: "\ea9a";
}
.icon-twitch:before {
	content: "\ea9b";
}
.icon-vimeo4:before {
	content: "\ea9c";
}
.icon-vimeo2:before {
	content: "\ea9d";
}
.icon-vimeo3:before {
	content: "\ea9e";
}
.icon-lanyrd:before {
	content: "\ea9f";
}
.icon-flickr5:before {
	content: "\eaa0";
}
.icon-flickr2:before {
	content: "\eaa1";
}
.icon-flickr3:before {
	content: "\eaa2";
}
.icon-flickr4:before {
	content: "\eaa3";
}
.icon-picassa:before {
	content: "\eaa4";
}
.icon-picassa2:before {
	content: "\eaa5";
}
.icon-dribbble4:before {
	content: "\eaa6";
}
.icon-dribbble2:before {
	content: "\eaa7";
}
.icon-dribbble3:before {
	content: "\eaa8";
}
.icon-forrst:before {
	content: "\eaa9";
}
.icon-forrst2:before {
	content: "\eaaa";
}
.icon-deviantart:before {
	content: "\eaab";
}
.icon-deviantart2:before {
	content: "\eaac";
}
.icon-steam:before {
	content: "\eaad";
}
.icon-steam2:before {
	content: "\eaae";
}
.icon-dropbox2:before {
	content: "\eaaf";
}
.icon-onedrive2:before {
	content: "\eab0";
}
.icon-github6:before {
	content: "\eab1";
}
.icon-github2:before {
	content: "\eab2";
}
.icon-github3:before {
	content: "\eab3";
}
.icon-github4:before {
	content: "\eab4";
}
.icon-github5:before {
	content: "\eab5";
}
.icon-wordpress:before {
	content: "\eab6";
}
.icon-wordpress2:before {
	content: "\eab7";
}
.icon-joomla:before {
	content: "\eab8";
}
.icon-blogger:before {
	content: "\eab9";
}
.icon-blogger2:before {
	content: "\eaba";
}
.icon-tumblr3:before {
	content: "\eabb";
}
.icon-tumblr2:before {
	content: "\eabc";
}
.icon-yahoo:before {
	content: "\eabd";
}
.icon-tux:before {
	content: "\eabe";
}
.icon-apple:before {
	content: "\eabf";
}
.icon-finder:before {
	content: "\eac0";
}
.icon-android:before {
	content: "\eac1";
}
.icon-windows:before {
	content: "\eac2";
}
.icon-windows8:before {
	content: "\eac3";
}
.icon-soundcloud3:before {
	content: "\eac4";
}
.icon-soundcloud2:before {
	content: "\eac5";
}
.icon-skype2:before {
	content: "\eac6";
}
.icon-reddit:before {
	content: "\eac7";
}
.icon-linkedin3:before {
	content: "\eac8";
}
.icon-linkedin2:before {
	content: "\eac9";
}
.icon-lastfm3:before {
	content: "\eaca";
}
.icon-lastfm2:before {
	content: "\eacb";
}
.icon-delicious:before {
	content: "\eacc";
}
.icon-stumbleupon3:before {
	content: "\eacd";
}
.icon-stumbleupon2:before {
	content: "\eace";
}
.icon-stackoverflow:before {
	content: "\eacf";
}
.icon-pinterest3:before {
	content: "\ead0";
}
.icon-pinterest2:before {
	content: "\ead1";
}
.icon-xing3:before {
	content: "\ead2";
}
.icon-xing2:before {
	content: "\ead3";
}
.icon-flattr2:before {
	content: "\ead4";
}
.icon-foursquare2:before {
	content: "\ead5";
}
.icon-paypal4:before {
	content: "\ead6";
}
.icon-paypal2:before {
	content: "\ead7";
}
.icon-paypal3:before {
	content: "\ead8";
}
.icon-yelp2:before {
	content: "\ead9";
}
.icon-file-pdf:before {
	content: "\eada";
}
.icon-file-openoffice:before {
	content: "\eadb";
}
.icon-file-word:before {
	content: "\eadc";
}
.icon-file-excel:before {
	content: "\eadd";
}
.icon-libreoffice:before {
	content: "\eade";
}
.icon-html5:before {
	content: "\eadf";
}
.icon-html52:before {
	content: "\eae0";
}
.icon-css3:before {
	content: "\eae1";
}
.icon-git:before {
	content: "\eae2";
}
.icon-svg:before {
	content: "\eae3";
}
.icon-codepen:before {
	content: "\eae4";
}
.icon-chrome:before {
	content: "\eae5";
}
.icon-firefox:before {
	content: "\eae6";
}
.icon-IE:before {
	content: "\eae7";
}
.icon-opera:before {
	content: "\eae8";
}
.icon-safari:before {
	content: "\eae9";
}
.icon-IcoMoon:before {
	content: "\eaea";
}
.icon-heart3:before {
	content: "\e781";
}
.icon-cloud3:before {
	content: "\e782";
}
.icon-star2:before {
	content: "\e783";
}
.icon-tv3:before {
	content: "\e784";
}
.icon-sound2:before {
	content: "\e785";
}
.icon-video2:before {
	content: "\e786";
}
.icon-trash2:before {
	content: "\e787";
}
.icon-user3:before {
	content: "\e788";
}
.icon-key4:before {
	content: "\e789";
}
.icon-search2:before {
	content: "\e78a";
}
.icon-settings:before {
	content: "\e78b";
}
.icon-camera3:before {
	content: "\e78c";
}
.icon-tag2:before {
	content: "\e78d";
}
.icon-lock3:before {
	content: "\e78e";
}
.icon-bulb:before {
	content: "\e78f";
}
.icon-pen2:before {
	content: "\e790";
}
.icon-diamond:before {
	content: "\e791";
}
.icon-display2:before {
	content: "\e792";
}
.icon-location4:before {
	content: "\e793";
}
.icon-eye3:before {
	content: "\e794";
}
.icon-bubble3:before {
	content: "\e795";
}
.icon-stack2:before {
	content: "\e796";
}
.icon-cup2:before {
	content: "\e797";
}
.icon-phone3:before {
	content: "\e798";
}
.icon-news2:before {
	content: "\e799";
}
.icon-mail6:before {
	content: "\e79a";
}
.icon-like:before {
	content: "\e79b";
}
.icon-photo:before {
	content: "\e79c";
}
.icon-note2:before {
	content: "\e79d";
}
.icon-clock4:before {
	content: "\e79e";
}
.icon-paperplane:before {
	content: "\e79f";
}
.icon-params:before {
	content: "\e7a0";
}
.icon-banknote:before {
	content: "\e7a1";
}
.icon-data:before {
	content: "\e7a2";
}
.icon-music3:before {
	content: "\e7a3";
}
.icon-megaphone2:before {
	content: "\e7a4";
}
.icon-study:before {
	content: "\e7a5";
}
.icon-lab2:before {
	content: "\e7a6";
}
.icon-food:before {
	content: "\e7a7";
}
.icon-t-shirt:before {
	content: "\e7a8";
}
.icon-fire2:before {
	content: "\e7a9";
}
.icon-clip:before {
	content: "\e7aa";
}
.icon-shop2:before {
	content: "\e7ab";
}
.icon-calendar3:before {
	content: "\e7ac";
}
.icon-wallet2:before {
	content: "\e7ad";
}
.icon-vynil:before {
	content: "\e7ae";
}
.icon-truck2:before {
	content: "\e7af";
}
.icon-world:before {
	content: "\e7b0";
}
