/* Tiny Carousel */
#slider1 {
    height: 1%;
    margin: 0px 0 0;
    overflow: hidden;
    position: relative;
    padding: 10px 10px 10px;
}

#slider1 .viewport {
    height: 125px;
    overflow: hidden;
    position: relative;
}

#slider1 .buttons {
    background: #C01313; /*color de boton de desplazamiento */
    border-radius: 35px;
    display: blockn;
    position: absolute; /*posicionamiento de los botones de desplazamiento*/
    top: 50%; /*posicion del boton izquierdo de desplazamiento*/
	left:0;
    width: 35px; /*tamaño del boton izquierdo y derecho de desplazamiento*/
    height: 35px; /*tamaño del boton izquierdo  y derecho de desplazamiento*/
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    font-size: 22px;
	z-index: 1; /*con esta opcion  los dos botones de desplazamiento son visibles*/
}

#slider1 .next {
    right: 0;
    left: auto;
    top: 50%;
	
}

#slider1 .buttons:hover {
    color: #C01313;
    background: #fff;
}

#slider1 .disable {
    visibility: hidden;
}

#slider1 .overview {
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 240px;
    left: 0;
    top: 0;
}

#slider1 .overview li {
    float: left;
    margin: 0 20px 0 0;
    padding: 1px;
    height: 121px;
    border: 1px solid #dcdcdc;
    width: 236px;
 }
